Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

Add safe roundtrip test skill and comprehensive guide
  docs/testing/COMPLETE_SAFE_ROUNDTRIP_TEST.md
  library/skills/safe-roundtrip-tester.md
Labels: documentation, content

Update roundtrip test guide with exact copy-paste prompts in code blocks
  docs/development/SESSION_NOTES_2025_08_14_ROUNDTRIP_TESTING.md
  docs/testing/COMPLETE_SAFE_ROUNDTRIP_TEST.md
  docs/testing/MCP_ROUNDTRIP_TEST_GUIDE.md
  docs/testing/RIGOROUS_ROUNDTRIP_TEST.md
  scripts/actual-roundtrip-test.mjs
  scripts/test-roundtrip-workflow.mjs
Labels: documentation, scripts

Update roundtrip test guide with exact copy-paste prompts in code blocks
  docs/development/SESSION_NOTES_2025_08_14_ROUNDTRIP_TESTING.md
  docs/testing/COMPLETE_SAFE_ROUNDTRIP_TEST.md
  docs/testing/MCP_ROUNDTRIP_TEST_GUIDE.md
  docs/testing/RIGOROUS_ROUNDTRIP_TEST.md
  scripts/actual-roundtrip-test.mjs
  scripts/test-roundtrip-workflow.mjs
Labels: documentation, scripts

Update roundtrip test results with honest, critical assessment
  docs/development/SESSION_NOTES_2025_08_14_ROUNDTRIP_TEST_RESULTS.md
Labels: documentation

Update roundtrip test results with honest, critical assessment
  docs/development/SESSION_NOTES_2025_08_14_ROUNDTRIP_TEST_RESULTS.md
Labels: documentation

Add automated roundtrip testing solutions
  docs/testing/AUTOMATED_TEST_PROMPT.md
  docs/testing/AUTOMATION_OPTIONS_GUIDE.md
  library/agents/roundtrip-test-agent.md
  scripts/automated-roundtrip-test.mjs
Labels: documentation, content, scripts

Add automated roundtrip testing solutions
  docs/testing/AUTOMATED_TEST_PROMPT.md
  docs/testing/AUTOMATION_OPTIONS_GUIDE.md
  library/agents/roundtrip-test-agent.md
  scripts/automated-roundtrip-test.mjs
Labels: documentation, content, scripts

Add artifact-based test reporting for Claude Desktop
  docs/testing/ROUNDTRIP_TEST_ARTIFACT_TEMPLATE.md
  library/agents/roundtrip-test-reporter.md
  scripts/automated-roundtrip-test.mjs
  test-results/roundtrip-test-2025-08-14T18-19-37-401Z.json
  test-results/roundtrip-test-2025-08-14T18-19-37-401Z.md
Labels: documentation, content, scripts

Add artifact-based test reporting for Claude Desktop
  docs/testing/ROUNDTRIP_TEST_ARTIFACT_TEMPLATE.md
  library/agents/roundtrip-test-reporter.md
  scripts/automated-roundtrip-test.mjs
  test-results/roundtrip-test-2025-08-14T18-19-37-401Z.json
  test-results/roundtrip-test-2025-08-14T18-19-37-401Z.md
Labels: documentation, content, scripts

Add security-safe roundtrip test template
  library/templates/roundtrip-test-template.md
Labels: content

Add security-safe roundtrip test template
  library/templates/roundtrip-test-template.md
Labels: content

feat: Add GitHub Action for building collection index
  .github/workflows/build-collection-index.yml
  docs/testing/TEST_ITERATION_STRATEGY.md
  package.json
  public/README.md
  public/collection-index.json
  scripts/build-collection-index.js
  test-results/mcp-roundtrip-test-002-8-14-2025.md
  test-results/mcp_roundtrip_test-001-08-14-2025.md
Labels: documentation, ci/cd, configuration, scripts

feat: Add GitHub Action for building collection index
  .github/workflows/build-collection-index.yml
  docs/testing/TEST_ITERATION_STRATEGY.md
  package.json
  public/README.md
  public/collection-index.json
  scripts/build-collection-index.js
  test-results/mcp-roundtrip-test-002-8-14-2025.md
  test-results/mcp_roundtrip_test-001-08-14-2025.md
Labels: documentation, ci/cd, configuration, scripts

fix: resolve ESLint unused variable errors
  scripts/actual-roundtrip-test.mjs
  scripts/automated-roundtrip-test.mjs
  scripts/build-collection-index.js
  scripts/test-roundtrip-workflow.mjs
Labels: scripts

fix: resolve ESLint unused variable errors
  scripts/actual-roundtrip-test.mjs
  scripts/automated-roundtrip-test.mjs
  scripts/build-collection-index.js
  scripts/test-roundtrip-workflow.mjs
Labels: scripts

fix: Resolve CodeQL unused local variable issues
  scripts/actual-roundtrip-test.mjs
  scripts/automated-roundtrip-test.mjs
  scripts/test-roundtrip-workflow.mjs
Labels: scripts

fix: Resolve CodeQL unused local variable issues
  scripts/actual-roundtrip-test.mjs
  scripts/automated-roundtrip-test.mjs
  scripts/test-roundtrip-workflow.mjs
Labels: scripts

chore: Update collection index after fixes
  public/collection-index.json
Labels: none

chore: Update collection index after fixes
  public/collection-index.json
Labels: none

fix: Critical security and TypeScript fixes for PR #123
  agents/README.md
  agents/build-fix-specialist.md
  agents/codeql-fix-specialist.md
  agents/security-fix-specialist.md
  agents/test-fix-specialist.md
  public/collection-index.json
  scripts/build-collection-index.js
Labels: scripts

fix: Critical security and TypeScript fixes for PR #123
  agents/README.md
  agents/build-fix-specialist.md
  agents/codeql-fix-specialist.md
  agents/security-fix-specialist.md
  agents/test-fix-specialist.md
  public/collection-index.json
  scripts/build-collection-index.js
Labels: scripts

fix: Complete resolution of CodeQL HTML sanitization vulnerability
  public/collection-index.json
  scripts/build-collection-index.js
Labels: scripts

fix: Complete resolution of CodeQL HTML sanitization vulnerability
  public/collection-index.json
  scripts/build-collection-index.js
Labels: scripts

fix: Implement Copilot-recommended sanitize-html library for CodeQL compliance
  package-lock.json
  package.json
  public/collection-index.json
  scripts/build-collection-index.js
Labels: configuration, dependencies, scripts

fix: Implement Copilot-recommended sanitize-html library for CodeQL compliance
  package-lock.json
  package.json
  public/collection-index.json
  scripts/build-collection-index.js
Labels: configuration, dependencies, scripts

feat: Add automated collection index building with security fixes
  .github/workflows/build-collection-index.yml
  agents/README.md
  agents/build-fix-specialist.md
  agents/codeql-fix-specialist.md
  agents/security-fix-specialist.md
  agents/test-fix-specialist.md
  docs/testing/TEST_ITERATION_STRATEGY.md
  package-lock.json
  package.json
  public/README.md
  public/collection-index.json
  scripts/actual-roundtrip-test.mjs
  scripts/automated-roundtrip-test.mjs
  scripts/build-collection-index.js
  scripts/test-roundtrip-workflow.mjs
  test-results/mcp-roundtrip-test-002-8-14-2025.md
  test-results/mcp_roundtrip_test-001-08-14-2025.md
Labels: documentation, ci/cd, configuration, dependencies, scripts

feat: Add automated collection index building with security fixes
  .github/workflows/build-collection-index.yml
  agents/README.md
  agents/build-fix-specialist.md
  agents/codeql-fix-specialist.md
  agents/security-fix-specialist.md
  agents/test-fix-specialist.md
  docs/testing/TEST_ITERATION_STRATEGY.md
  package-lock.json
  package.json
  public/README.md
  public/collection-index.json
  scripts/actual-roundtrip-test.mjs
  scripts/automated-roundtrip-test.mjs
  scripts/build-collection-index.js
  scripts/test-roundtrip-workflow.mjs
  test-results/mcp-roundtrip-test-002-8-14-2025.md
  test-results/mcp_roundtrip_test-001-08-14-2025.md
Labels: documentation, ci/cd, configuration, dependencies, scripts

feat: Complete TypeScript refactor of collection index builder (#124)
  BUILD_SYSTEM_CHANGES.md
  TYPESCRIPT_VALIDATION_REPORT.md
  package-lock.json
  package.json
  public/collection-index.json
  scripts/build-collection-index.ts
  scripts/types/README.md
  scripts/types/build-index.example.ts
  scripts/types/build-index.types.ts
  scripts/verify-build.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: documentation, tests, configuration, dependencies, scripts

feat: Complete TypeScript refactor of collection index builder (#124)
  BUILD_SYSTEM_CHANGES.md
  TYPESCRIPT_VALIDATION_REPORT.md
  package-lock.json
  package.json
  public/collection-index.json
  scripts/build-collection-index.ts
  scripts/types/README.md
  scripts/types/build-index.example.ts
  scripts/types/build-index.types.ts
  scripts/verify-build.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: documentation, tests, configuration, dependencies, scripts

fix: Address ESLint errors and Copilot AutoFixes for TypeScript refactor
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_REFACTOR.md
  scripts/build-collection-index.ts
  scripts/types/build-index.example.ts
  scripts/verify-build.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: documentation, tests, scripts

fix: Address ESLint errors and Copilot AutoFixes for TypeScript refactor
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_REFACTOR.md
  scripts/build-collection-index.ts
  scripts/types/build-index.example.ts
  scripts/verify-build.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: documentation, tests, scripts

fix: Update build-collection-index workflow for TypeScript
  .github/workflows/build-collection-index.yml
Labels: ci/cd

fix: Update build-collection-index workflow for TypeScript
  .github/workflows/build-collection-index.yml
Labels: ci/cd

fix: Resolve all ESLint errors in TypeScript refactor
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_ATTEMPT.md
  eslint-errors-tracking.md
  eslint-errors.txt
  public/collection-index.json
  scripts/types/build-index.example.ts
  scripts/verify-build.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: documentation, tests, scripts

fix: Resolve all ESLint errors in TypeScript refactor
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_ATTEMPT.md
  eslint-errors-tracking.md
  eslint-errors.txt
  public/collection-index.json
  scripts/types/build-index.example.ts
  scripts/verify-build.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: documentation, tests, scripts

fix: Resolve race condition identified by CodeQL
  public/collection-index.json
  scripts/build-collection-index.ts
  scripts/verify-build.ts
Labels: scripts

fix: Resolve race condition identified by CodeQL
  public/collection-index.json
  scripts/build-collection-index.ts
  scripts/verify-build.ts
Labels: scripts

fix: Resolve insecure temporary file usage identified by CodeQL
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
  test/unit/validators/content-validator-all-types.test.ts
  test/unit/validators/content-validator-simple.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: tests

fix: Resolve insecure temporary file usage identified by CodeQL
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
  test/unit/validators/content-validator-all-types.test.ts
  test/unit/validators/content-validator-simple.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: tests

fix: Correct temp directory handling in cli-validation test
  test/integration/cli-validation.test.ts
Labels: tests
