Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

Fix content security validation workflow and add comprehensive documentation
  .github/workflows/content-security-validation.yml
  CLAUDE.md
  docs/ARCHITECTURE_VISION.md
  docs/PROGRESSIVE_METADATA_SCHEMA.md
  docs/SECURITY_AND_VALIDATION_STRATEGY.md
  docs/VERSIONING_STRATEGY.md
  docs/session-plans/2025-07-18-final-summary.md
  docs/session-plans/2025-07-18-session-summary.md
Labels: documentation, ci/cd

Fix content validation for branch protection (Issue #32) (#57)
  .github/workflows/content-security-validation.yml
  CLAUDE.md
  docs/ARCHITECTURE_VISION.md
  docs/PROGRESSIVE_METADATA_SCHEMA.md
  docs/SECURITY_AND_VALIDATION_STRATEGY.md
  docs/VERSIONING_STRATEGY.md
  docs/session-plans/2025-07-17-final-pr-merge.md
  docs/session-plans/2025-07-18-branch-protection-plan.md
  docs/session-plans/2025-07-18-final-summary.md
  docs/session-plans/2025-07-18-session-summary.md
  library/ensembles/professional/full-stack-developer.md
  library/personas/creative/creative-writer.md
  library/skills/coding/debugging-assistant.md
  library/templates/business/project-proposal.md
  library/tools/productivity/task-prioritizer.md
Labels: documentation, ci/cd, content

Fix content validation for branch protection (Issue #32) (#57)
  .github/workflows/content-security-validation.yml
  CLAUDE.md
  docs/ARCHITECTURE_VISION.md
  docs/PROGRESSIVE_METADATA_SCHEMA.md
  docs/SECURITY_AND_VALIDATION_STRATEGY.md
  docs/VERSIONING_STRATEGY.md
  docs/session-plans/2025-07-17-final-pr-merge.md
  docs/session-plans/2025-07-18-branch-protection-plan.md
  docs/session-plans/2025-07-18-final-summary.md
  docs/session-plans/2025-07-18-session-summary.md
  library/ensembles/professional/full-stack-developer.md
  library/personas/creative/creative-writer.md
  library/skills/coding/debugging-assistant.md
  library/templates/business/project-proposal.md
  library/tools/productivity/task-prioritizer.md
Labels: documentation, ci/cd, content

feat: Add all 26 default AI customization elements for v1.3.0
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
Labels: content

feat: Add all 26 default AI customization elements for v1.3.0
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
Labels: content

fix: Address all validation failures from PR #73 review
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/prompts/creative/story-starter.md
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
  library/tools/productivity/task-prioritizer.md
  src/validators/content-validator.ts
Labels: source, content

fix: Address all validation failures from PR #73 review
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/prompts/creative/story-starter.md
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
  library/tools/productivity/task-prioritizer.md
  src/validators/content-validator.ts
Labels: source, content

fix: Address all validation failures from PR #73 review
  library/agents/research/research-assistant.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/personal/conversation-history.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  src/validators/content-validator.ts
Labels: source, content

fix: Address all validation failures from PR #73 review
  library/agents/research/research-assistant.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/personal/conversation-history.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  src/validators/content-validator.ts
Labels: source, content

revert: Remove expanded categories and stick with original 5
  src/validators/content-validator.ts
Labels: source

revert: Remove expanded categories and stick with original 5
  src/validators/content-validator.ts
Labels: source

fix: Fix remaining validation issues
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/professional/data-analysis.md
  library/templates/professional/code-documentation.md
Labels: content

fix: Fix remaining validation issues
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/professional/data-analysis.md
  library/templates/professional/code-documentation.md
Labels: content

fix: Add missing category fields to 8 files
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

fix: Add missing category fields to 8 files
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

fix: Make validation schemas flexible and fix overly broad security pattern
  library/memories/educational/learning-progress.md
  library/memories/professional/project-context.md
  library/templates/professional/code-documentation.md
  src/validators/content-validator.ts
  src/validators/security-patterns.ts
Labels: source, content, security

fix: Make validation schemas flexible and fix overly broad security pattern
  library/memories/educational/learning-progress.md
  library/memories/professional/project-context.md
  library/templates/professional/code-documentation.md
  src/validators/content-validator.ts
  src/validators/security-patterns.ts
Labels: source, content, security

fix: Refine training_data_extraction pattern to avoid false positives
  src/validators/security-patterns.ts
Labels: source, security

fix: Refine training_data_extraction pattern to avoid false positives
  src/validators/security-patterns.ts
Labels: source, security

docs: Add clarifying comments to training_data_extraction pattern
  src/validators/security-patterns.ts
Labels: source, security

docs: Add clarifying comments to training_data_extraction pattern
  src/validators/security-patterns.ts
Labels: source, security

fix: Replace flaky performance test with robust algorithmic complexity test
  test/security/performance-benchmark.test.ts
Labels: tests, security

fix: Replace flaky performance test with robust algorithmic complexity test
  test/security/performance-benchmark.test.ts
Labels: tests, security

fix: Replace flaky performance test with robust algorithmic complexity test
  test/security/performance-benchmark.test.ts
Labels: tests, security

fix: Replace flaky performance test with robust algorithmic complexity test
  test/security/performance-benchmark.test.ts
Labels: tests, security

docs: Add type guard and clarify 2.5x degradation threshold rationale
  test/security/performance-benchmark.test.ts
Labels: tests, security

docs: Add type guard and clarify 2.5x degradation threshold rationale
  test/security/performance-benchmark.test.ts
Labels: tests, security

fix: Replace flaky performance test with robust algorithmic complexity test (#77)
  test/security/performance-benchmark.test.ts
Labels: tests, security

fix: Replace flaky performance test with robust algorithmic complexity test (#77)
  test/security/performance-benchmark.test.ts
Labels: tests, security

docs: Add clarifying comments to training_data_extraction pattern
  src/validators/security-patterns.ts
Labels: source, security

fix: Fix remaining validation issues
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/professional/data-analysis.md
  library/templates/professional/code-documentation.md
Labels: content

revert: Remove expanded categories and stick with original 5
  src/validators/content-validator.ts
Labels: source

feat: Add all 26 default AI customization elements for v1.3.0
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
Labels: content

fix: Address all validation failures from PR #73 review
  library/agents/research/research-assistant.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/personal/conversation-history.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  src/validators/content-validator.ts
Labels: source, content

fix: Address all validation failures from PR #73 review
  library/agents/research/research-assistant.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/personal/conversation-history.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  src/validators/content-validator.ts
Labels: source, content

fix: Fix remaining validation issues
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/professional/data-analysis.md
  library/templates/professional/code-documentation.md
Labels: content

fix: Refine training_data_extraction pattern to avoid false positives
  src/validators/security-patterns.ts
Labels: source, security

feat: Add all 26 default AI customization elements for v1.3.0
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/skills/coding/code-review.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
Labels: content

fix: Refine training_data_extraction pattern to avoid false positives
  src/validators/security-patterns.ts
Labels: source, security

fix: Add missing category fields to 8 files
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content
