Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

style(dark-mode): further brighten text ink scale
  public/styles.css
Labels: none

fix(templates): remove unsupported Handlebars syntax and fix variable declarations
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/roundtrip-test-template.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix(templates): remove unsupported Handlebars syntax and fix variable declarations
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/roundtrip-test-template.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix(validator): update template schema to accept structured variable declarations
  src/types/index.ts
  src/validators/content-validator.ts
Labels: source

fix(validator): update template schema to accept structured variable declarations
  src/types/index.ts
  src/validators/content-validator.ts
Labels: source

test: update template tests for structured variable format
  test/integration/content-lifecycle.test.ts
  test/integration/setup.ts
  test/unit/validators/content-validator-all-types.test.ts
Labels: tests

test: update template tests for structured variable format
  test/integration/content-lifecycle.test.ts
  test/integration/setup.ts
  test/unit/validators/content-validator-all-types.test.ts
Labels: tests

fix(pr-validation): eliminate false positives and fix schema mismatches in validation scripts
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/security-scanner.mjs
Labels: scripts

fix(pr-validation): eliminate false positives and fix schema mismatches in validation scripts
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/security-scanner.mjs
Labels: scripts

fix(pr-validation): bound regex quantifiers to satisfy SonarCloud ReDoS check
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
Labels: scripts

fix(pr-validation): bound regex quantifiers to satisfy SonarCloud ReDoS check
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
Labels: scripts

Fix session_data_probe false positive, add type/category validation, fix stale CI comments
  .github/workflows/validate-content.yml
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, ci/cd, scripts

Fix session_data_probe false positive, add type/category validation, fix stale CI comments
  .github/workflows/validate-content.yml
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, ci/cd, scripts

Fix 10 SonarCloud issues: cognitive complexity, duplicate branches, minor code smells
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  src/validators/content-validator.ts
Labels: source, scripts

Fix 10 SonarCloud issues: cognitive complexity, duplicate branches, minor code smells
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  src/validators/content-validator.ts
Labels: source, scripts

Add format: "markdown" to all 10 template frontmatter
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/roundtrip-test-template.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

Add format: "markdown" to all 10 template frontmatter
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/roundtrip-test-template.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

Revert "Add format: "markdown" to all 10 template frontmatter"
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/roundtrip-test-template.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

Revert "Add format: "markdown" to all 10 template frontmatter"
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/roundtrip-test-template.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

Align collection schema with MCP server template definitions (#242)
  scripts/pr-validation/integration-tester.mjs
  src/types/index.ts
  src/validators/content-validator.ts
  test/unit/validators/content-validator-all-types.test.ts
Labels: source, tests, scripts

Align collection schema with MCP server template definitions (#242)
  scripts/pr-validation/integration-tester.mjs
  src/types/index.ts
  src/validators/content-validator.ts
  test/unit/validators/content-validator-all-types.test.ts
Labels: source, tests, scripts

fix: add missing type and unique_id to roundtrip-test-skill
  library/skills/roundtrip-test-skill.md
Labels: content

fix: add required capabilities field to roundtrip-test-skill
  library/skills/roundtrip-test-skill.md
Labels: content

Improve content quality across 36 library files to pass quality analysis
  library/agents/roundtrip-test-agent.md
  library/ensembles/complete-productivity-suite.md
  library/personas/blog-copy-editor.md
  library/personas/business-consultant.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/eli5-explainer.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/open-source-business-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-analyst.md
  library/personas/travel-planner.md
  library/personas/travel-planner_20250830-111954_anon-witty-bear-7twh.md
  library/personas/verification-specialist.md
  library/skills/roundtrip-test-skill.md
Labels: content

Fix schema validation, security, and integration test failures
  library/agents/code-reviewer.md
  library/memories/learning-progress.md
  library/personas/resume-anonymization-specialist.md
  library/personas/solution-keeper.md
  library/skills/roundtrip-test-skill.md
  library/skills/safe-roundtrip-tester.md
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, content, scripts

Clean up library content quality: fix corruptions, strip boilerplate, add metadata
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/open-source-business-strategist.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/travel-planner_20250830-111954_anon-witty-bear-7twh.md
  library/personas/verification-specialist.md
  scripts/pr-validation/quality-analyzer.mjs
Labels: content, scripts

SECURITY: Remove personal info and competitive playbook from library personas
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/debug-detective.md
  library/personas/eli5-explainer.md
  library/personas/github-integration-expert.md
  library/personas/link-validator.md
  library/personas/software-licensing-expert.md
Labels: content

deploy: 7e061b3f1c7915cd42bc12b10b537e367740b1ec
  app.js
  collection-index.json
  fonts.css
  fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2
  fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iAq131nj-otFQ.woff2
  fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iEq131nj-otFQ.woff2
  fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iIq131nj-otFQ.woff2
  fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1isq131nj-otFQ.woff2
  fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl1FgsAXHNlYzg.woff2
  fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl5FgsAXHNlYzg.woff2
  fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl9FgsAXHNlYzg.woff2
  fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlBFgsAXHNk.woff2
  fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlRFgsAXHNlYzg.woff2
  fonts/manrope-xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2
  fonts/manrope-xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2
  fonts/manrope-xn7gYHE41ni1AdIRggexSvfedN4.woff2
  fonts/manrope-xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2
  fonts/manrope-xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2
  fonts/manrope-xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2
  fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yygg_vb.woff2
  fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko40yygg_vbd-E.woff2
  fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yygg_vbd-E.woff2
  fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko70yygg_vbd-E.woff2
  index.html
  styles.css
Labels: none

Fix regex backtracking vulnerability in heading detection
  scripts/pr-validation/quality-analyzer.mjs
Labels: scripts

Fix 5 SonarCloud code quality issues in quality-analyzer
  scripts/pr-validation/quality-analyzer.mjs
Labels: scripts

Fix all ESLint errors for Build & Test CI check
  eslint.config.js
  scripts/build-html-index.js
  test/browser/collection-browser.spec.ts
Labels: tests, configuration, scripts

deploy: 1e8ae6a352ec75dd6b135976bcf2e3af215f0e12
  collection-index.json
Labels: none

Fix formatting corruption in 13 personas, archive legacy memories, fix template variable rendering
  archive/memories/conversation-history.md
  archive/memories/learning-progress.md
  archive/memories/project-context.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/linkedin-profile-analyst.md
  library/personas/resume-anonymization-specialist.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/verification-specialist.md
  public/app.js
Labels: content

Add keyboard navigation to element detail modal
  public/app.js
Labels: none

Rework keyboard navigation: scroll modal content, navigate grid cards
  public/app.js
  public/styles.css
Labels: none

Make arrow keys navigate spatially on grid (left/right/up/down)
  public/app.js
Labels: none

Fix spelling and grammar across all 27 persona files
  library/personas/business-consultant.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/debug-detective.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/eli5-explainer.md
  library/personas/executive-assistant-pro.md
  library/personas/gitflow-detective.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-profile-analyst.md
  library/personas/marketing-strategist-tech-products.md
  library/personas/marketing-writer-tech-products.md
  library/personas/open-source-business-strategist.md
  library/personas/public-relations-tech-products.md
  library/personas/reddit-content-creator.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
  public/app.js
Labels: content

Add 'r' keyboard shortcut to toggle raw/rendered in modal
  public/app.js
Labels: none

Fix 'r' shortcut: call onclick directly, support both r and R
  public/app.js
Labels: none

Add debug logging for r shortcut
  public/app.js
Labels: none
