Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

feat: Add automated PR approval capability to Claude reviews
  .github/workflows/claude-review.yml
Labels: ci/cd

fix: Improve Claude PR approval logic based on review feedback
  .github/workflows/claude-review.yml
Labels: ci/cd

fix: Improve Claude PR approval logic based on review feedback
  .github/workflows/claude-review.yml
Labels: ci/cd

feat: Enable Claude to create PR approvals for branch protection (#85)
  .github/workflows/claude-review.yml
Labels: ci/cd

feat: Enable Claude to create PR approvals for branch protection (#85)
  .github/workflows/claude-review.yml
Labels: ci/cd

feat: Make Claude review fail workflow when changes requested
  .github/workflows/claude-review.yml
  CLAUDE_STATUS_CHECK_SETUP.md
Labels: documentation, ci/cd

feat: Make Claude review fail workflow when changes requested
  .github/workflows/claude-review.yml
  CLAUDE_STATUS_CHECK_SETUP.md
Labels: documentation, ci/cd

feat: Add manual Claude review trigger for community PRs
  .github/workflows/claude-review-manual.yml
  .github/workflows/claude-review.yml
Labels: ci/cd

feat: Add manual Claude review trigger for community PRs
  .github/workflows/claude-review-manual.yml
  .github/workflows/claude-review.yml
Labels: ci/cd

docs: Update setup notes with manual trigger info
  CLAUDE_STATUS_CHECK_SETUP.md
Labels: documentation

docs: Update setup notes with manual trigger info
  CLAUDE_STATUS_CHECK_SETUP.md
Labels: documentation

docs: Add workflow documentation
  docs/workflows/README.md
  docs/workflows/claude-review-setup.md
Labels: documentation

docs: Add workflow documentation
  docs/workflows/README.md
  docs/workflows/claude-review-setup.md
Labels: documentation

docs: Add workflow documentation (#90)
  docs/workflows/README.md
  docs/workflows/claude-review-setup.md
Labels: documentation

docs: Add workflow documentation (#90)
  docs/workflows/README.md
  docs/workflows/claude-review-setup.md
Labels: documentation

feat: Add 7 default skills for v1.3.0 (skills only)
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
Labels: content

feat: Add 7 default skills for v1.3.0 (skills only)
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
Labels: content

fix: Make training_data_extraction pattern more context-aware
  src/validators/security-patterns.ts
Labels: source, security

fix: Make training_data_extraction pattern more context-aware
  src/validators/security-patterns.ts
Labels: source, security

fix: Update training pattern and add unique timestamps
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  src/validators/security-patterns.ts
  test/security/context-awareness.test.ts
Labels: source, tests, content, security

fix: Update training pattern and add unique timestamps
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  src/validators/security-patterns.ts
  test/security/context-awareness.test.ts
Labels: source, tests, content, security

fix: Update integration tests and fix last timestamp duplicate
  library/skills/coding/code-review.md
  src/validators/security-patterns.ts
  test/security/context-awareness-integration.test.ts
Labels: source, tests, content, security

fix: Update integration tests and fix last timestamp duplicate
  library/skills/coding/code-review.md
  src/validators/security-patterns.ts
  test/security/context-awareness-integration.test.ts
Labels: source, tests, content, security

feat: Make category optional in content validator for flat directory structure
  src/validators/content-validator.ts
  test/integration/setup.ts
Labels: source, tests

feat: Make category optional in content validator for flat directory structure
  src/validators/content-validator.ts
  test/integration/setup.ts
Labels: source, tests

docs: Add flat structure update documentation and scripts
  docs/development/FLAT_STRUCTURE_UPDATE_COMPLETE.md
  scripts/update-unique-ids.sh
Labels: documentation, scripts

docs: Add flat structure update documentation and scripts
  docs/development/FLAT_STRUCTURE_UPDATE_COMPLETE.md
  scripts/update-unique-ids.sh
Labels: documentation, scripts

fix: Make performance benchmark tests more tolerant for CI
  library/agents/creative/.gitkeep
  library/agents/educational/.gitkeep
  library/agents/gaming/.gitkeep
  library/agents/personal/.gitkeep
  library/agents/professional/.gitkeep
  library/ensembles/creative/.gitkeep
  library/ensembles/educational/.gitkeep
  library/ensembles/gaming/.gitkeep
  library/ensembles/personal/.gitkeep
  library/ensembles/professional/.gitkeep
  library/personas/creative/.gitkeep
  library/personas/educational/.gitkeep
  library/personas/gaming/.gitkeep
  library/personas/personal/.gitkeep
  library/personas/professional/.gitkeep
  library/prompts/creative/.gitkeep
  library/prompts/educational/.gitkeep
  library/prompts/gaming/.gitkeep
  library/prompts/personal/.gitkeep
  library/prompts/professional/.gitkeep
  library/skills/creative/.gitkeep
  library/skills/educational/.gitkeep
  library/skills/gaming/.gitkeep
  library/skills/personal/.gitkeep
  library/skills/professional/.gitkeep
  library/templates/creative/.gitkeep
  library/templates/educational/.gitkeep
  library/templates/gaming/.gitkeep
  library/templates/personal/.gitkeep
  library/templates/professional/.gitkeep
  library/tools/creative/.gitkeep
  library/tools/educational/.gitkeep
  library/tools/gaming/.gitkeep
  library/tools/personal/.gitkeep
  library/tools/professional/.gitkeep
  test/security/performance-benchmark.test.ts
Labels: tests, content, security

fix: Make performance benchmark tests more tolerant for CI
  library/agents/creative/.gitkeep
  library/agents/educational/.gitkeep
  library/agents/gaming/.gitkeep
  library/agents/personal/.gitkeep
  library/agents/professional/.gitkeep
  library/ensembles/creative/.gitkeep
  library/ensembles/educational/.gitkeep
  library/ensembles/gaming/.gitkeep
  library/ensembles/personal/.gitkeep
  library/ensembles/professional/.gitkeep
  library/personas/creative/.gitkeep
  library/personas/educational/.gitkeep
  library/personas/gaming/.gitkeep
  library/personas/personal/.gitkeep
  library/personas/professional/.gitkeep
  library/prompts/creative/.gitkeep
  library/prompts/educational/.gitkeep
  library/prompts/gaming/.gitkeep
  library/prompts/personal/.gitkeep
  library/prompts/professional/.gitkeep
  library/skills/creative/.gitkeep
  library/skills/educational/.gitkeep
  library/skills/gaming/.gitkeep
  library/skills/personal/.gitkeep
  library/skills/professional/.gitkeep
  library/templates/creative/.gitkeep
  library/templates/educational/.gitkeep
  library/templates/gaming/.gitkeep
  library/templates/personal/.gitkeep
  library/templates/professional/.gitkeep
  library/tools/creative/.gitkeep
  library/tools/educational/.gitkeep
  library/tools/gaming/.gitkeep
  library/tools/personal/.gitkeep
  library/tools/professional/.gitkeep
  test/security/performance-benchmark.test.ts
Labels: tests, content, security

feat: Move skills to flat directory structure
  library/skills/code-review.md
  library/skills/creative-writing.md
  library/skills/data-analysis.md
  library/skills/debugging-assistant.md
  library/skills/penetration-testing.md
  library/skills/research.md
  library/skills/threat-modeling.md
  library/skills/translation.md
Labels: content

feat: Move skills to flat directory structure
  library/skills/code-review.md
  library/skills/creative-writing.md
  library/skills/data-analysis.md
  library/skills/debugging-assistant.md
  library/skills/penetration-testing.md
  library/skills/research.md
  library/skills/threat-modeling.md
  library/skills/translation.md
Labels: content

chore: Add flat structure migration scripts from main branch
  scripts/move-to-flat-structure.sh
  scripts/update-unique-ids.sh
Labels: scripts

chore: Add flat structure migration scripts from main branch
  scripts/move-to-flat-structure.sh
  scripts/update-unique-ids.sh
Labels: scripts

fix: Update training_data_extraction patterns to 'high' severity
  src/validators/security-patterns.ts
Labels: source, security

fix: Update training_data_extraction patterns to 'high' severity
  src/validators/security-patterns.ts
Labels: source, security

feat: Add 7 default skills for v1.3.0 (Part 2/5)
  .github/workflows/claude-review-manual.yml
  .github/workflows/claude-review.yml
  CLAUDE_STATUS_CHECK_SETUP.md
  library/skills/code-review.md
  library/skills/data-analysis.md
  src/validators/security-patterns.ts
Labels: documentation, source, ci/cd, content, security

feat: Add 7 default skills for v1.3.0 (Part 2/5)
  .github/workflows/claude-review-manual.yml
  .github/workflows/claude-review.yml
  CLAUDE_STATUS_CHECK_SETUP.md
  library/skills/code-review.md
  library/skills/data-analysis.md
  src/validators/security-patterns.ts
Labels: documentation, source, ci/cd, content, security

fix: Remove duplicate 'core' declaration in Claude review workflow
  .github/workflows/claude-review.yml
Labels: ci/cd

fix: Remove duplicate 'core' declaration in Claude review workflow
  .github/workflows/claude-review.yml
Labels: ci/cd

fix: Remove duplicate 'core' declaration in Claude review workflow (#96)
  .github/workflows/claude-review.yml
Labels: ci/cd

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'
