Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

fix: Element submissions now go directly to main branch
  .github/workflows/process-element-submission.yml
Labels: ci/cd

Add persona: screenwriting-suite-01-professional-screenwriter
  library/personas/screenwriting-suite-01-professional-screenwriter_20250829-105158_anon-sharp-owl-ozkd.md
Labels: content

fix: Preserve newlines when writing element content
  .github/workflows/process-element-submission.yml
  docs/ELEMENT_SUBMISSION_SETUP.md
  docs/session-notes/SESSION_NOTES_2025_08_29_ELEMENT_GITFLOW_FIX.md
Labels: documentation, ci/cd

fix: Preserve newlines when writing element content
  .github/workflows/process-element-submission.yml
  docs/ELEMENT_SUBMISSION_SETUP.md
  docs/session-notes/SESSION_NOTES_2025_08_29_ELEMENT_GITFLOW_FIX.md
Labels: documentation, ci/cd

Add persona: screenwriting-suite-01-professional-screenwriter
  library/personas/screenwriting-suite-01-professional-screenwriter_20250829-105158_anon-sharp-owl-ozkd.md
Labels: content

Add persona: screenwriting-suite-01-professional-screenwriter
  library/personas/screenwriting-suite-01-professional-screenwriter_20250829-105158_anon-sharp-owl-ozkd.md
Labels: content

fix: Restore workflow fixes that were accidentally reverted
  .github/workflows/process-element-submission.yml
  docs/session-notes/SESSION_NOTES_2025_08_29_WORKFLOW_IMPROVEMENTS.md
Labels: documentation, ci/cd

fix: Restore workflow fixes that were accidentally reverted
  .github/workflows/process-element-submission.yml
  docs/session-notes/SESSION_NOTES_2025_08_29_WORKFLOW_IMPROVEMENTS.md
Labels: documentation, ci/cd

docs: Add comprehensive PR queue management guide
  docs/ELEMENT_PR_QUEUE_MANAGEMENT.md
Labels: documentation

docs: Add comprehensive PR queue management guide
  docs/ELEMENT_PR_QUEUE_MANAGEMENT.md
Labels: documentation

docs: Add comprehensive PR queue management guide
  docs/ELEMENT_PR_QUEUE_MANAGEMENT.md
Labels: documentation

docs: Add comprehensive PR queue management guide
  docs/ELEMENT_PR_QUEUE_MANAGEMENT.md
Labels: documentation

Add persona: travel-planner
  library/personas/travel-planner_20250830-111954_anon-witty-bear-7twh.md
Labels: content

Add persona: travel-planner
  library/personas/travel-planner_20250830-111954_anon-witty-bear-7twh.md
Labels: content

fix(deps): regenerate package-lock.json to resolve unpublished error-ex@1.3.3
  package-lock.json
Labels: configuration, dependencies

fix(deps): regenerate package-lock.json to resolve unpublished error-ex@1.3.3
  package-lock.json
Labels: configuration, dependencies

feat(personas): Add 34 community personas - batch 1
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/marketing-strategist-tech-products.md
  library/personas/marketing-writer-tech-products.md
  library/personas/open-source-business-strategist.md
  library/personas/public-relations-tech-products.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
Labels: content

feat(personas): Add 34 community personas - batch 1
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/marketing-strategist-tech-products.md
  library/personas/marketing-writer-tech-products.md
  library/personas/open-source-business-strategist.md
  library/personas/public-relations-tech-products.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
Labels: content

feat(templates): Add 36 community templates - batch 3
  library/templates/blog-post-template.md
  library/templates/business-letter.md
  library/templates/code-documentation.md
  library/templates/dev-todo-system.md
  library/templates/email-professional.md
  library/templates/github-dollhouse-integration-test-report.md
  library/templates/github-issue-bug-report.md
  library/templates/github-issue-creation.md
  library/templates/github-issue-documentation.md
  library/templates/github-issue-security.md
  library/templates/hackernews-submission-template.md
  library/templates/linkedin-post-template.md
  library/templates/meeting-notes.md
  library/templates/multi-agent-orchestration.md
  library/templates/persona-parameter-optimization-guide.md
  library/templates/pitch-deck.md
  library/templates/project-brief.md
  library/templates/reddit-ama-template.md
  library/templates/reddit-discussion-template.md
  library/templates/reddit-howto-template.md
  library/templates/reddit-post-template.md
  library/templates/reddit-submission-template.md
  library/templates/report-executive.md
  library/templates/screenwriting-suite-07-feature-screenplay-template.md
  library/templates/screenwriting-suite-08-treatment-template.md
  library/templates/screenwriting-suite-09-pitch-deck-template.md
  library/templates/screenwriting-suite-10-tv-pilot-template.md
  library/templates/screenwriting-suite-11-tv-series-bible-template.md
  library/templates/security-audit-report.md
  library/templates/security-findings-report.md
  library/templates/security-incident-report.md
  library/templates/security-validation-report.md
  library/templates/security-vulnerability-report.md
  library/templates/session-context-transfer.md
  library/templates/threat-assessment-report.md
Labels: content

feat(templates): Add 36 community templates - batch 3
  library/templates/blog-post-template.md
  library/templates/business-letter.md
  library/templates/code-documentation.md
  library/templates/dev-todo-system.md
  library/templates/email-professional.md
  library/templates/github-dollhouse-integration-test-report.md
  library/templates/github-issue-bug-report.md
  library/templates/github-issue-creation.md
  library/templates/github-issue-documentation.md
  library/templates/github-issue-security.md
  library/templates/hackernews-submission-template.md
  library/templates/linkedin-post-template.md
  library/templates/meeting-notes.md
  library/templates/multi-agent-orchestration.md
  library/templates/persona-parameter-optimization-guide.md
  library/templates/pitch-deck.md
  library/templates/project-brief.md
  library/templates/reddit-ama-template.md
  library/templates/reddit-discussion-template.md
  library/templates/reddit-howto-template.md
  library/templates/reddit-post-template.md
  library/templates/reddit-submission-template.md
  library/templates/report-executive.md
  library/templates/screenwriting-suite-07-feature-screenplay-template.md
  library/templates/screenwriting-suite-08-treatment-template.md
  library/templates/screenwriting-suite-09-pitch-deck-template.md
  library/templates/screenwriting-suite-10-tv-pilot-template.md
  library/templates/screenwriting-suite-11-tv-series-bible-template.md
  library/templates/security-audit-report.md
  library/templates/security-findings-report.md
  library/templates/security-incident-report.md
  library/templates/security-validation-report.md
  library/templates/security-vulnerability-report.md
  library/templates/session-context-transfer.md
  library/templates/threat-assessment-report.md
Labels: content

feat(agents): Add 7 community agents - batch 4 (final)
  library/agents/blog-copy-editor-agent.md
  library/agents/mcp-registry-publisher.md
  library/agents/product-architect.md
  library/agents/research-assistant.md
  library/agents/roadmap-planner.md
  library/agents/technical-doc-writer.md
Labels: content

feat(agents): Add 7 community agents - batch 4 (final)
  library/agents/blog-copy-editor-agent.md
  library/agents/mcp-registry-publisher.md
  library/agents/product-architect.md
  library/agents/research-assistant.md
  library/agents/roadmap-planner.md
  library/agents/technical-doc-writer.md
Labels: content

fix(metadata): Add missing type field and fix version format
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/open-source-business-strategist.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
Labels: content

fix(metadata): Add missing type field and fix version format
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/marketing-strategist-tech-products.md
  library/personas/marketing-writer-tech-products.md
  library/personas/open-source-business-strategist.md
  library/personas/public-relations-tech-products.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
Labels: content

fix(metadata): Add missing type field to templates
  library/templates/blog-post-template.md
  library/templates/business-letter.md
  library/templates/dev-todo-system.md
  library/templates/github-dollhouse-integration-test-report.md
  library/templates/github-issue-bug-report.md
  library/templates/github-issue-creation.md
  library/templates/github-issue-documentation.md
  library/templates/github-issue-security.md
  library/templates/hackernews-submission-template.md
  library/templates/linkedin-post-template.md
  library/templates/multi-agent-orchestration.md
  library/templates/persona-parameter-optimization-guide.md
  library/templates/pitch-deck.md
  library/templates/reddit-ama-template.md
  library/templates/reddit-discussion-template.md
  library/templates/reddit-howto-template.md
  library/templates/reddit-post-template.md
  library/templates/reddit-submission-template.md
  library/templates/screenwriting-suite-08-treatment-template.md
  library/templates/screenwriting-suite-09-pitch-deck-template.md
  library/templates/screenwriting-suite-10-tv-pilot-template.md
  library/templates/screenwriting-suite-11-tv-series-bible-template.md
  library/templates/security-audit-report.md
  library/templates/security-incident-report.md
  library/templates/security-validation-report.md
  library/templates/session-context-transfer.md
Labels: content

fix(metadata): Add missing type field to templates
  library/templates/blog-post-template.md
  library/templates/business-letter.md
  library/templates/dev-todo-system.md
  library/templates/github-dollhouse-integration-test-report.md
  library/templates/github-issue-bug-report.md
  library/templates/github-issue-creation.md
  library/templates/github-issue-documentation.md
  library/templates/github-issue-security.md
  library/templates/hackernews-submission-template.md
  library/templates/linkedin-post-template.md
  library/templates/multi-agent-orchestration.md
  library/templates/persona-parameter-optimization-guide.md
  library/templates/pitch-deck.md
  library/templates/reddit-ama-template.md
  library/templates/reddit-discussion-template.md
  library/templates/reddit-howto-template.md
  library/templates/reddit-post-template.md
  library/templates/reddit-submission-template.md
  library/templates/screenwriting-suite-08-treatment-template.md
  library/templates/screenwriting-suite-09-pitch-deck-template.md
  library/templates/screenwriting-suite-10-tv-pilot-template.md
  library/templates/screenwriting-suite-11-tv-series-bible-template.md
  library/templates/security-audit-report.md
  library/templates/security-incident-report.md
  library/templates/security-validation-report.md
  library/templates/session-context-transfer.md
Labels: content

fix(metadata): Standardize version format in agents
  library/agents/research-assistant.md
Labels: content

fix(metadata): Standardize version format in agents
  library/agents/research-assistant.md
Labels: content

fix: Add missing type field and fix version format in travel-planner persona
  library/personas/travel-planner_20250830-111954_anon-witty-bear-7twh.md
Labels: content

fix: Add missing type field and fix version format in travel-planner persona
  library/personas/travel-planner_20250830-111954_anon-witty-bear-7twh.md
Labels: content

deploy: 4a7860d9844f2d2eaea4a927b7d7f14cab24e05d
  collection-index.json
  index.html
Labels: none

fix: Improve example detection in integration tests
  scripts/pr-validation/integration-tester.mjs
Labels: scripts

fix: Improve example detection in integration tests
  scripts/pr-validation/integration-tester.mjs
Labels: scripts

Fix validation errors in PR #213 personas batch
  library/personas/reddit-karma-farmer.md
  library/personas/security-analyst.md
  library/personas/travel-planner.md
Labels: content

Fix validation errors in PR #213 personas batch
  library/personas/reddit-karma-farmer.md
  library/personas/security-analyst.md
  library/personas/travel-planner.md
Labels: content

fix: Improve example detection in integration tests
  scripts/pr-validation/integration-tester.mjs
Labels: scripts

fix: Improve example detection in integration tests
  scripts/pr-validation/integration-tester.mjs
Labels: scripts

fix: Correct schema validation errors in 2 persona files
  library/personas/reddit-karma-farmer.md
  library/personas/security-analyst.md
Labels: content

fix: Correct schema validation errors in 2 persona files
  library/personas/reddit-karma-farmer.md
  library/personas/security-analyst.md
Labels: content

fix: Update agents with validated portfolio files
  library/agents/agent.md
  library/agents/anthropic-skills-forensic-analyzer.md
  library/agents/blog-copy-editor-agent.md
  library/agents/character-development-agent-suite.md
  library/agents/code-reviewer.md
  library/agents/coder-agent.md
  library/agents/dev-task-manager.md
  library/agents/dollhouse-diagnostic-agent.md
  library/agents/github-dollhouse-integration-tester.md
  library/agents/hook-reaction-agent.md
  library/agents/jailbreak-detection-agent.md
  library/agents/mcp-registry-publisher.md
  library/agents/multi-platform-content-creator.md
  library/agents/planner-agent.md
  library/agents/product-architect.md
  library/agents/programmatic-analysis-agent.md
  library/agents/reddit-submission-agent.md
  library/agents/research-assistant.md
  library/agents/roadmap-planner.md
  library/agents/screenwriting-suite-12-character-development-agent.md
  library/agents/security-workflow-orchestrator.md
  library/agents/session-notes-agent.md
  library/agents/sonar-sweep-agent.md
  library/agents/swarm-master-orchestrator.md
  library/agents/swarm-monitor-loop.md
  library/agents/task-manager.md
  library/agents/technical-doc-writer.md
  library/agents/timeout-agent.md
  library/agents/timestamp-agent.md
  library/agents/voice-assistant.md
  library/agents/voice-configurator.md
  library/agents/worktree-orchestrator.md
Labels: content
