Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

fix: Windows CLI test compatibility by using direct module imports
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
Labels: source, tests, cli

fix: Windows CLI test compatibility by using direct module imports
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
Labels: source, tests, cli

fix: normalize Windows path separators in CLI output
  docs/session-plans/2025-07-16-cli-windows-fix-status.md
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
Labels: documentation, source, tests, cli

fix: normalize Windows path separators in CLI output
  docs/session-plans/2025-07-16-cli-windows-fix-status.md
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
Labels: documentation, source, tests, cli

fix: normalize test expectations for Windows path separators
  test/integration/cli-validation.test.ts
Labels: tests

fix: normalize test expectations for Windows path separators
  test/integration/cli-validation.test.ts
Labels: tests

refactor: address code review feedback for CLI tests
  test/integration/cli-validation.test.ts
Labels: tests

refactor: address code review feedback for CLI tests
  test/integration/cli-validation.test.ts
Labels: tests

refactor: improve security test assertions based on review feedback
  test/integration/security-workflow.test.ts
Labels: tests

refactor: improve security test assertions based on review feedback
  test/integration/security-workflow.test.ts
Labels: tests

docs: comprehensive session notes for Windows CLI fix
  CLAUDE.md
  docs/session-plans/2025-07-16-pr27-status.md
  docs/session-plans/2025-07-16-windows-fix-complete.md
Labels: documentation

docs: comprehensive session notes for Windows CLI fix
  CLAUDE.md
  docs/session-plans/2025-07-16-pr27-status.md
  docs/session-plans/2025-07-16-windows-fix-complete.md
Labels: documentation

fix: update code for zod v4 compatibility
  package-lock.json
  src/validators/content-validator.ts
Labels: source, configuration, dependencies

fix: update code for zod v4 compatibility
  package-lock.json
  src/validators/content-validator.ts
Labels: source, configuration, dependencies

chore: add missing test configuration files from main
  jest.config.cjs
  jest.integration.config.cjs
  package-lock.json
  package.json
  test/integration/setup.ts
  test/integration/teardown.ts
  test/jest.setup.cjs
  tsconfig.test.json
Labels: tests, configuration, dependencies

chore: add missing test configuration files from main
  jest.config.cjs
  jest.integration.config.cjs
  package-lock.json
  package.json
  test/integration/setup.ts
  test/integration/teardown.ts
  test/jest.setup.cjs
  tsconfig.test.json
Labels: tests, configuration, dependencies

test: verify Zod v4 compatibility with comprehensive tests
  package-lock.json
  package.json
  src/validators/content-validator.ts
  test/integration/zod-v4.test.ts
Labels: source, tests, configuration, dependencies

test: verify Zod v4 compatibility with comprehensive tests
  package-lock.json
  package.json
  src/validators/content-validator.ts
  test/integration/zod-v4.test.ts
Labels: source, tests, configuration, dependencies

fix: maintain backward compatibility for missing field detection in Zod v4
  src/validators/content-validator.ts
Labels: source

fix: maintain backward compatibility for missing field detection in Zod v4
  src/validators/content-validator.ts
Labels: source

Update Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: ci/cd

Update Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: ci/cd

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: ci/cd

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: ci/cd

feat: migrate Claude workflows to OAuth authentication
  .github/workflows/claude-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

fix: upgrade to Zod v4 with backward compatibility
  CLAUDE.md
  docs/session-plans/2025-07-16-dependabot-upgrades.md
  docs/session-plans/2025-07-16-session-summary.md
  package-lock.json
  package.json
  src/validators/content-validator.ts
Labels: documentation, source, configuration, dependencies

fix: upgrade to Zod v4 with backward compatibility
  CLAUDE.md
  docs/session-plans/2025-07-16-dependabot-upgrades.md
  docs/session-plans/2025-07-16-session-summary.md
  package-lock.json
  package.json
  src/validators/content-validator.ts
Labels: documentation, source, configuration, dependencies

fix: resolve ESLint type safety errors for Zod v4
  src/validators/content-validator.ts
  test/integration/cli-validation.test.ts
Labels: source, tests

fix: resolve ESLint type safety errors for Zod v4
  src/validators/content-validator.ts
  test/integration/cli-validation.test.ts
Labels: source, tests

test: update integration tests for Zod v4 error message format
  test/integration/content-lifecycle.test.ts
Labels: tests

test: update integration tests for Zod v4 error message format
  test/integration/content-lifecycle.test.ts
Labels: tests

docs: add comprehensive JSDoc and tests for Zod v3/v4 compatibility
  src/validators/content-validator.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: source, tests

docs: add comprehensive JSDoc and tests for Zod v3/v4 compatibility
  src/validators/content-validator.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: source, tests

fix: resolve ESLint errors in Zod compatibility tests
  test/unit/validators/zod-compatibility.test.ts
Labels: tests

fix: resolve ESLint errors in Zod compatibility tests
  test/unit/validators/zod-compatibility.test.ts
Labels: tests

fix: upgrade to Zod v4 with backward compatibility (#37)
  CLAUDE.md
  docs/session-plans/2025-07-16-dependabot-upgrades.md
  docs/session-plans/2025-07-16-session-summary.md
  package-lock.json
  package.json
  src/validators/content-validator.ts
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: documentation, source, tests, configuration, dependencies

fix: upgrade to Zod v4 with backward compatibility (#37)
  CLAUDE.md
  docs/session-plans/2025-07-16-dependabot-upgrades.md
  docs/session-plans/2025-07-16-session-summary.md
  package-lock.json
  package.json
  src/validators/content-validator.ts
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: documentation, source, tests, configuration, dependencies

test: add comprehensive prompt injection security tests
  src/validators/security-patterns.ts
  test/security/prompt-injection.test.ts
Labels: source, tests, security

fix: tighten disregard_instructions pattern to reduce false positives
  src/validators/security-patterns.ts
  test/security/prompt-injection.test.ts
Labels: source, tests, security

test: add comprehensive prompt injection security tests (#38)
  src/validators/security-patterns.ts
  test/security/prompt-injection.test.ts
Labels: source, tests, security
