Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

test: add comprehensive prompt injection security tests (#38)
  src/validators/security-patterns.ts
  test/security/prompt-injection.test.ts
Labels: source, tests, security

test: implement safe security test infrastructure with placeholder patterns
  test/security/README.md
  test/security/helpers/safe-test-helpers.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/test-data/security-test-patterns.json
Labels: tests, security

fix: improve type safety in test helpers
  test/security/helpers/safe-test-helpers.ts
Labels: tests, security

feat: add JSON schema validation and improved error handling
  docs/session-plans/2025-07-17-tdd-security-tests-plan.md
  docs/session-plans/2025-07-17-zod-v4-upgrade-status.md
  test/security/helpers/safe-test-helpers.ts
  test/security/schema-validation.test.ts
  test/security/test-data/test-patterns-schema.json
Labels: documentation, tests, security

test: implement safe security test infrastructure with placeholder patterns (#39)
  docs/session-plans/2025-07-17-tdd-security-tests-plan.md
  docs/session-plans/2025-07-17-zod-v4-upgrade-status.md
  test/security/README.md
  test/security/helpers/safe-test-helpers.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/schema-validation.test.ts
  test/security/test-data/security-test-patterns.json
  test/security/test-data/test-patterns-schema.json
Labels: documentation, tests, security

test: implement safe security test infrastructure with placeholder patterns (#39)
  docs/session-plans/2025-07-17-tdd-security-tests-plan.md
  docs/session-plans/2025-07-17-zod-v4-upgrade-status.md
  test/security/README.md
  test/security/helpers/safe-test-helpers.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/schema-validation.test.ts
  test/security/test-data/security-test-patterns.json
  test/security/test-data/test-patterns-schema.json
Labels: documentation, tests, security

feat: add comprehensive jailbreaking pattern detection
  src/validators/security-patterns.ts
  test/security/jailbreaking.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive jailbreaking pattern detection
  src/validators/security-patterns.ts
  test/security/jailbreaking.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

docs: add session notes for security test progress
  docs/session-plans/2025-07-17-security-tests-progress.md
Labels: documentation

docs: add session notes for security test progress
  docs/session-plans/2025-07-17-security-tests-progress.md
Labels: documentation

fix: address all PR review recommendations
  src/validators/security-patterns.ts
  test/security/jailbreaking.test.ts
  test/security/performance-benchmark.test.ts
Labels: source, tests, security

fix: address all PR review recommendations
  src/validators/security-patterns.ts
  test/security/jailbreaking.test.ts
  test/security/performance-benchmark.test.ts
Labels: source, tests, security

fix: complete implementation of all PR review recommendations
  .github/pr-update-message.md
  test/security/performance-benchmark.test.ts
Labels: tests, security

fix: complete implementation of all PR review recommendations
  .github/pr-update-message.md
  test/security/performance-benchmark.test.ts
Labels: tests, security

feat: add comprehensive command execution pattern detection
  src/validators/security-patterns.ts
  test/security/command-execution.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive command execution pattern detection
  src/validators/security-patterns.ts
  test/security/command-execution.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

fix: address all PR review feedback and fix ReDoS vulnerability
  .github/pr-42-update.md
  src/validators/security-patterns.ts
  test/security/command-execution.test.ts
Labels: source, tests, security

fix: address all PR review feedback and fix ReDoS vulnerability
  .github/pr-42-update.md
  src/validators/security-patterns.ts
  test/security/command-execution.test.ts
Labels: source, tests, security

wip: initial setup for data exfiltration pattern detection
  CLAUDE.md
  docs/session-plans/2025-07-17-tdd-security-test-progress.md
  test/security/data-exfiltration.test.ts
  test/security/test-data/security-test-patterns.json
Labels: documentation, tests, security

feat: add comprehensive data exfiltration pattern detection
  src/validators/security-patterns.ts
  test/security/data-exfiltration-integration.test.ts
  test/security/data-exfiltration-safe.test.ts
  test/security/data-exfiltration.test.ts
Labels: source, tests, security

fix: remove unnecessary escape character in api_key_pattern regex
  src/validators/security-patterns.ts
Labels: source, security

fix: add missing data exfiltration test cases to test data file
  test/security/data-exfiltration-safe.test.ts
  test/security/test-data/security-test-patterns.json
Labels: tests, security

feat: add comprehensive data exfiltration pattern detection (#43)
  CLAUDE.md
  docs/session-plans/2025-07-17-tdd-security-test-progress.md
  src/validators/security-patterns.ts
  test/security/data-exfiltration-integration.test.ts
  test/security/data-exfiltration-safe.test.ts
  test/security/data-exfiltration.test.ts
  test/security/test-data/security-test-patterns.json
Labels: documentation, source, tests, security

feat: add comprehensive data exfiltration pattern detection (#43)
  CLAUDE.md
  docs/session-plans/2025-07-17-tdd-security-test-progress.md
  src/validators/security-patterns.ts
  test/security/data-exfiltration-integration.test.ts
  test/security/data-exfiltration-safe.test.ts
  test/security/data-exfiltration.test.ts
  test/security/test-data/security-test-patterns.json
Labels: documentation, source, tests, security

feat: add comprehensive context awareness pattern detection
  src/validators/security-patterns.ts
  test/security/context-awareness-integration.test.ts
  test/security/context-awareness-safe.test.ts
  test/security/context-awareness.test.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive context awareness pattern detection (#45)
  src/validators/security-patterns.ts
  test/security/context-awareness-integration.test.ts
  test/security/context-awareness-safe.test.ts
  test/security/context-awareness.test.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive context awareness pattern detection (#45)
  src/validators/security-patterns.ts
  test/security/context-awareness-integration.test.ts
  test/security/context-awareness-safe.test.ts
  test/security/context-awareness.test.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive tests for remaining security categories
  src/validators/security-patterns.ts
  test/security/command-execution.test.ts
  test/security/remaining-categories-safe.test.ts
  test/security/remaining-categories.test.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive tests for remaining security categories
  src/validators/security-patterns.ts
  test/security/command-execution.test.ts
  test/security/remaining-categories-safe.test.ts
  test/security/remaining-categories.test.ts
  test/security/safe-pattern-infrastructure.test.ts
  test/security/test-data/security-test-patterns.json
Labels: source, tests, security

feat: add comprehensive performance optimizations for security scanner
  CLAUDE.md
  docs/performance-optimization.md
  docs/session-plans/2025-07-17-security-test-completion.md
  src/validators/performance-monitor.ts
  src/validators/security-patterns.ts
  src/validators/security-scanner-optimized.ts
  test/security/optimized-scanner-integration.test.ts
  test/security/performance-optimization.test.ts
Labels: documentation, source, tests, security

fix: address PR review feedback
  docs/performance-optimization.md
  src/validators/performance-monitor.ts
  test/security/performance-optimization.test.ts
Labels: documentation, source, tests, security

fix: resolve linting errors
  src/validators/performance-monitor.ts
  src/validators/security-scanner-optimized.ts
  test/security/performance-optimization.test.ts
Labels: source, tests, security

test: add comprehensive unit tests for performance optimization
  test/unit/validators/performance-monitor.test.ts
  test/unit/validators/security-scanner-optimized.test.ts
Labels: tests

docs: add session notes for PR #50 debugging
  CLAUDE.md
  docs/session-plans/2025-07-17-performance-optimization-pr.md
Labels: documentation

fix: replace flaky performance assertions with robust timing checks
  test/security/performance-optimization.test.ts
Labels: tests, security

feat: add critical robustness improvements for production stability
  docs/session-plans/2025-07-17-performance-optimization-pr.md
  src/validators/performance-monitor.ts
  src/validators/security-scanner-optimized.ts
  test/security/performance-benchmark.test.ts
  test/unit/validators/cache-stress.test.ts
Labels: documentation, source, tests, security

feat: performance optimization for security scanner (PR #8) (#50)
  CLAUDE.md
  docs/performance-optimization.md
  docs/session-plans/2025-07-17-performance-optimization-pr.md
  docs/session-plans/2025-07-17-security-test-completion.md
  src/validators/performance-monitor.ts
  src/validators/security-patterns.ts
  src/validators/security-scanner-optimized.ts
  test/security/optimized-scanner-integration.test.ts
  test/security/performance-benchmark.test.ts
  test/security/performance-optimization.test.ts
  test/unit/validators/cache-stress.test.ts
  test/unit/validators/performance-monitor.test.ts
  test/unit/validators/security-scanner-optimized.test.ts
Labels: documentation, source, tests, security

feat: performance optimization for security scanner (PR #8) (#50)
  CLAUDE.md
  docs/performance-optimization.md
  docs/session-plans/2025-07-17-performance-optimization-pr.md
  docs/session-plans/2025-07-17-security-test-completion.md
  src/validators/performance-monitor.ts
  src/validators/security-patterns.ts
  src/validators/security-scanner-optimized.ts
  test/security/optimized-scanner-integration.test.ts
  test/security/performance-benchmark.test.ts
  test/security/performance-optimization.test.ts
  test/unit/validators/cache-stress.test.ts
  test/unit/validators/performance-monitor.test.ts
  test/unit/validators/security-scanner-optimized.test.ts
Labels: documentation, source, tests, security

docs: add final session notes and update project status
  CLAUDE.md
  docs/session-plans/2025-07-17-final-pr-merge.md
Labels: documentation

Fix content validation for branch protection (Issue #32)
  docs/ARCHITECTURE_VISION.md
  docs/session-plans/2025-07-18-branch-protection-plan.md
  library/ensembles/professional/full-stack-developer.md
  library/personas/creative/creative-writer.md
  library/skills/coding/debugging-assistant.md
  library/templates/business/project-proposal.md
  library/tools/productivity/task-prioritizer.md
Labels: documentation, content

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'
