Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

temp: debug renderDetailView parsing
  public/app.js
Labels: none

Align collection elements with v2.0 MCP server schemas; add reference code-review-agent
  library/agents/academic-researcher.md
  library/agents/code-review-agent.md
  library/agents/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/roundtrip-test-agent.md
  library/agents/roundtrip-test-reporter.md
  library/agents/task-manager.md
  library/ensembles/business-advisor.md
  library/ensembles/complete-productivity-suite.md
  library/ensembles/creative-studio.md
  library/ensembles/development-team.md
  library/ensembles/full-stack-developer.md
  library/ensembles/security-analysis-team.md
  library/personas/code-review-companion.md
  library/skills/code-review.md
  library/skills/creative-writing.md
  library/skills/data-analysis.md
  library/skills/penetration-testing.md
  library/skills/research.md
  library/skills/roundtrip-test-validator.md
  library/skills/threat-modeling.md
  library/skills/translation.md
  public/app.js
  public/collection-index.json
  public/styles.css
Labels: content

Refactor app.js to fix 9 SonarCloud cognitive complexity and code smell issues
  public/app.js
Labels: none

Fix remaining 6 SonarCloud issues in app.js
  public/app.js
Labels: none

Fix CI failures: CRLF line endings, ensemble schema validation, optional chaining
  library/agents/code-review-agent.md
  public/app.js
  scripts/pr-validation/integration-tester.mjs
Labels: content, scripts

Replace hand-written code-review-agent with MCP-created portfolio copy
  library/agents/code-review-agent.md
  public/collection-index.json
Labels: content

Align collection validators with MCP server v2.0 schemas
  src/validators/content-validator.ts
  test/unit/validators/content-validator-all-types.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: source, tests

Add security_exceptions support to security scanner
  scripts/pr-validation/security-scanner.mjs
Labels: scripts

Fix expression injection in workflow run blocks
  .github/workflows/content-security-validation.yml
  .github/workflows/release.yml
Labels: ci/cd

Remove git push --force and || true from CI workflows
  .github/workflows/process-element-submission.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
Labels: ci/cd

Add XSS/HTML security patterns at critical severity
  .github/workflows/process-element-submission.yml
  src/validators/security-patterns.ts
  src/validators/security-scanner-optimized.ts
Labels: source, ci/cd, security

Fix false positive in security docs test for XSS patterns
  test/integration/security-workflow.test.ts
Labels: tests

deploy: 8cfd3a09370f20c60a30772ae5fbafce77077e02
  app.js
  collection-index.json
  styles.css
Labels: none

Address review findings: fix duplicate names, ReDoS, and test threshold
  src/validators/security-patterns.ts
  test/security/context-awareness-integration.test.ts
  test/security/context-awareness.test.ts
  test/security/performance-benchmark.test.ts
Labels: source, tests, security

Fix SonarCloud nit: remove zero fraction from number literal
  test/security/performance-benchmark.test.ts
Labels: tests, security

Fix PR validation pipeline to always report required checks
  .github/workflows/pr-validation.yml
Labels: ci/cd

security: add XSS patterns at critical severity and consolidate scanners (#265)
  .github/workflows/pr-validation.yml
  .github/workflows/process-element-submission.yml
  src/validators/security-patterns.ts
  src/validators/security-scanner-optimized.ts
  test/integration/security-workflow.test.ts
  test/security/context-awareness-integration.test.ts
  test/security/context-awareness.test.ts
  test/security/performance-benchmark.test.ts
Labels: source, tests, ci/cd, security

security: remove git push --force and || true from CI (#264)
  .github/workflows/process-element-submission.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
Labels: ci/cd

Fix security scan CI failures
  .github/workflows/security-scan.yml
  package-lock.json
Labels: ci/cd, configuration, dependencies

Create CNAME
  CNAME
Labels: none

Add GitHub Pages Actions deployment workflow
  .github/workflows/deploy-pages.yml
Labels: ci/cd

Fix brace-expansion moderate vulnerability via npm audit fix
  package-lock.json
Labels: configuration, dependencies

Add canonical lane logos; adopt collection-bluetop as site mark (#283)
  public/dollhouse-org-brand.svg
  public/dollhouse-org-collection-bluetop.svg
  public/dollhouse-org-core.svg
  public/dollhouse-org-education-blocks.svg
  public/dollhouse-org-enterprise-corner.svg
  public/dollhouse-org-protocol.svg
  public/dollhouse-org-research.svg
  public/dollhouse-org-security-red.svg
  public/dollhouse-org-tooling.svg
  public/index.html
  public/styles.css
Labels: none

Add canonical lane logos; adopt collection-bluetop as site mark (#283) (#284)
  public/dollhouse-org-brand.svg
  public/dollhouse-org-collection-bluetop.svg
  public/dollhouse-org-core.svg
  public/dollhouse-org-education-blocks.svg
  public/dollhouse-org-enterprise-corner.svg
  public/dollhouse-org-protocol.svg
  public/dollhouse-org-research.svg
  public/dollhouse-org-security-red.svg
  public/dollhouse-org-tooling.svg
  public/index.html
  public/styles.css
Labels: none

Add Welcome to DollhouseMCP onboarding ensemble and re-introduce memories lane
  library/agents/research-assistant.md
  library/ensembles/welcome-to-the-dollhouse.md
  library/memories/welcome-to-dollhouse-guide.yaml
  library/personas/dollhouse-expert.md
  library/skills/research-to-elements.md
Labels: content

Add Welcome to DollhouseMCP onboarding ensemble and re-introduce memories lane (#285)
  library/agents/research-assistant.md
  library/ensembles/welcome-to-the-dollhouse.md
  library/memories/welcome-to-dollhouse-guide.yaml
  library/personas/dollhouse-expert.md
  library/skills/research-to-elements.md
Labels: content

Normalize unique_ids to canonical collection format; add format_version to agent
  library/agents/research-assistant.md
  library/ensembles/welcome-to-the-dollhouse.md
  library/memories/welcome-to-dollhouse-guide.yaml
  library/skills/research-to-elements.md
Labels: content

deploy: f46e87007a84dc1d025559a201dda0180401bef9
  CNAME
  collection-index.json
  dollhouse-org-brand.svg
  dollhouse-org-collection-bluetop.svg
  dollhouse-org-core.svg
  dollhouse-org-education-blocks.svg
  dollhouse-org-enterprise-corner.svg
  dollhouse-org-protocol.svg
  dollhouse-org-research.svg
  dollhouse-org-security-red.svg
  dollhouse-org-tooling.svg
  index.html
  styles.css
Labels: none

Fix Pages deploy + index memories: rebuild index inline, drop dead gh-pages branch
  .github/workflows/build-collection-index.yml
  .github/workflows/deploy-pages.yml
  public/collection-index.json
  scripts/build-collection-index.ts
Labels: ci/cd, scripts

Address SonarCloud findings on build-collection-index.ts
  scripts/build-collection-index.ts
Labels: scripts

Fix Pages deploy + index memories lane (closes #287) (#289)
  .github/workflows/build-collection-index.yml
  .github/workflows/deploy-pages.yml
  public/collection-index.json
  scripts/build-collection-index.ts
Labels: ci/cd, scripts

Lint: add curly braces to single-line if-returns in index builder helpers
  scripts/build-collection-index.ts
Labels: scripts

CI: fix npm-audit exit-code capture (bash -e + ; AUDIT_EXIT=$?)
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
Labels: ci/cd

Add PII scanner module and CI gate (closes #245)
  .github/workflows/pii-scan.yml
  CONTRIBUTING.md
  package.json
  src/cli/scan-pii.ts
  src/scanners/pii-patterns.ts
  src/scanners/pii-scanner.ts
  test/unit/pii-scanner.test.ts
Labels: documentation, source, tests, ci/cd, configuration, cli

Address SonarCloud findings on PR #295
  src/cli/scan-pii.ts
  src/scanners/pii-patterns.ts
  src/scanners/pii-scanner.ts
  test/unit/pii-scanner.test.ts
Labels: source, tests, cli

Address remaining 11 SonarCloud findings on PR #295
  src/scanners/pii-patterns.ts
  src/scanners/pii-scanner.ts
  test/unit/pii-scanner.test.ts
Labels: source, tests

Add PII scanner module + CI gate (closes #245) (#295)
  .github/workflows/pii-scan.yml
  CONTRIBUTING.md
  package.json
  src/cli/scan-pii.ts
  src/scanners/pii-patterns.ts
  src/scanners/pii-scanner.ts
  test/unit/pii-scanner.test.ts
Labels: documentation, source, tests, ci/cd, configuration, cli

Lint: include scripts/**/*.ts in the no-console-exempt files glob
  eslint.config.js
Labels: configuration
