Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

fix(ci): Move permissions to per-job level to fix SonarCloud S6598
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Remove explicit SHA ref from checkout to satisfy SonarCloud SAST
  .github/workflows/pr-validation.yml
Labels: ci/cd

Security: remove pull_request_target from pr-validation.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd

feat(browser): Add Atelier-styled collection browser for GitHub Pages
  public/app.js
  public/index.html
  public/styles.css
  scripts/build-html-index.js
Labels: scripts

feat(browser): Add Atelier-styled collection browser for GitHub Pages
  public/app.js
  public/index.html
  public/styles.css
  scripts/build-html-index.js
Labels: scripts

fix(security): Resolve SonarCloud hotspots S5852 and S5725
  public/app.js
  public/fonts.css
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iAq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iEq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iIq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1isq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl1FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl5FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl9FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlBFgsAXHNk.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlRFgsAXHNlYzg.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggexSvfedN4.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yygg_vb.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko40yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko70yygg_vbd-E.woff2
  public/index.html
Labels: none

fix(security): Resolve SonarCloud hotspots S5852 and S5725
  public/app.js
  public/fonts.css
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iAq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iEq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iIq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1isq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl1FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl5FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl9FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlBFgsAXHNk.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlRFgsAXHNlYzg.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggexSvfedN4.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yygg_vb.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko40yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko70yygg_vbd-E.woff2
  public/index.html
Labels: none

feat(browser): Add view modes, dark mode, toned-down design
  public/app.js
  public/index.html
  public/styles.css
Labels: none

feat(browser): Add view modes, dark mode, toned-down design
  public/app.js
  public/index.html
  public/styles.css
Labels: none

fix(sonar): Resolve all SonarCloud issues - security hotspot, bugs, and code smells
  public/app.js
  public/index.html
  public/styles.css
Labels: none

fix(sonar): Resolve all SonarCloud issues - security hotspot, bugs, and code smells
  public/app.js
  public/index.html
  public/styles.css
Labels: none

fix(sonar): Remove duplicate padding declaration in dialog.modal (css:S4656)
  public/styles.css
Labels: none

fix(sonar): Remove duplicate padding declaration in dialog.modal (css:S4656)
  public/styles.css
Labels: none

Implement Claude review recommendations from PR #232
  public/app.js
  public/index.html
Labels: none

Implement Claude review recommendations from PR #232
  public/app.js
  public/index.html
Labels: none

Fix Web:S6819 — replace role=status span with native <output> element
  public/index.html
Labels: none

Fix Web:S6819 — replace role=status span with native <output> element
  public/index.html
Labels: none

feat(browser): Atelier-styled collection browser for GitHub Pages (#232)
  public/app.js
  public/fonts.css
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iAq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iEq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iIq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1isq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl1FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl5FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl9FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlBFgsAXHNk.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlRFgsAXHNlYzg.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggexSvfedN4.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yygg_vb.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko40yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko70yygg_vbd-E.woff2
  public/index.html
  public/styles.css
  scripts/build-html-index.js
Labels: scripts

feat(browser): Atelier-styled collection browser for GitHub Pages (#232)
  public/app.js
  public/fonts.css
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iAq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iEq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1iIq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F63fjptAgt5VM-kVkqdyU8n1isq131nj-otFQ.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl1FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl5FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwl9FgsAXHNlYzg.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlBFgsAXHNk.woff2
  public/fonts/ibmplexmono--F6qfjptAgt5VM-kVkqdyU8n3twJwlRFgsAXHNlYzg.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggexSvfedN4.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2
  public/fonts/manrope-xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yygg_vb.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko40yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yygg_vbd-E.woff2
  public/fonts/plusjakartasans-LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko70yygg_vbd-E.woff2
  public/index.html
  public/styles.css
  scripts/build-html-index.js
Labels: scripts

feat(browser): modal toolbar, sort controls, list download, expand icon fix
  public/app.js
  public/index.html
  public/styles.css
Labels: none

feat(browser): modal toolbar, sort controls, list download, expand icon fix
  public/app.js
  public/index.html
  public/styles.css
Labels: none

feat(browser): type color differentiation, list inline actions, click isolation
  public/app.js
  public/styles.css
Labels: none

feat(browser): type color differentiation, list inline actions, click isolation
  public/app.js
  public/styles.css
Labels: none

feat(browser): portfolio multi-type filters, color fix, memory recursion
  public/app.js
  public/index.html
  public/styles.css
Labels: none

feat(browser): portfolio multi-type filters, color fix, memory recursion
  public/app.js
  public/index.html
  public/styles.css
Labels: none

fix(browser): cap memory loading, add Playwright tests, fix CSS typos
  package-lock.json
  package.json
  playwright.config.ts
  public/app.js
  public/styles.css
  test/browser/collection-browser.spec.ts
Labels: tests, configuration, dependencies

fix(browser): cap memory loading, add Playwright tests, fix CSS typos
  package-lock.json
  package.json
  playwright.config.ts
  public/app.js
  public/styles.css
  test/browser/collection-browser.spec.ts
Labels: tests, configuration, dependencies

fix(browser): skip backup dirs/files and hidden/meta entries in portfolio loader
  public/app.js
Labels: none

fix(browser): skip backup dirs/files and hidden/meta entries in portfolio loader
  public/app.js
Labels: none

feat(browser): add pagination for large result sets
  public/app.js
  public/index.html
  public/styles.css
Labels: none

feat(browser): add pagination for large result sets
  public/app.js
  public/index.html
  public/styles.css
Labels: none

fix(browser): extract date from memory path for correct newest-first sort
  public/app.js
Labels: none

fix(browser): extract date from memory path for correct newest-first sort
  public/app.js
Labels: none

fix(browser): fix submit URL-too-long by copying content to clipboard
  public/app.js
Labels: none

fix(browser): fix submit URL-too-long by copying content to clipboard
  public/app.js
Labels: none

fix(browser): replace submit body notice with selectable paste placeholder
  public/app.js
Labels: none

fix(browser): replace submit body notice with selectable paste placeholder
  public/app.js
Labels: none

fix(browser): remove redundant type/name header from submit issue body
  public/app.js
Labels: none

fix(browser): remove redundant type/name header from submit issue body
  public/app.js
Labels: none

fix(browser): clarify submit issue placeholder — content already in clipboard
  public/app.js
Labels: none
