Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

fix: Correct temp directory handling in cli-validation test
  test/integration/cli-validation.test.ts
Labels: tests

fix: Remove unused mkdir imports causing ESLint errors
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
Labels: tests

fix: Remove unused mkdir imports causing ESLint errors
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
Labels: tests

fix: Remove unused variable declarations in cli-validation test
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_SUCCESS.md
  test/integration/cli-validation.test.ts
Labels: documentation, tests

fix: Remove unused variable declarations in cli-validation test
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_SUCCESS.md
  test/integration/cli-validation.test.ts
Labels: documentation, tests

fix: Make performance test variation threshold more tolerant in CI
  test/unit/build-index-performance.test.ts
Labels: tests

fix: Make performance test variation threshold more tolerant in CI
  test/unit/build-index-performance.test.ts
Labels: tests

fix: Cross-platform test compatibility for CI
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: tests

fix: Cross-platform test compatibility for CI
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
Labels: tests

feat: Complete TypeScript refactor of collection index builder
  .github/workflows/build-collection-index.yml
  BUILD_SYSTEM_CHANGES.md
  TYPESCRIPT_VALIDATION_REPORT.md
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_ATTEMPT.md
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_SUCCESS.md
  eslint-errors-tracking.md
  eslint-errors.txt
  package-lock.json
  package.json
  public/collection-index.json
  scripts/build-collection-index.ts
  scripts/types/README.md
  scripts/types/build-index.example.ts
  scripts/types/build-index.types.ts
  scripts/verify-build.ts
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
  test/unit/validators/content-validator-all-types.test.ts
  test/unit/validators/content-validator-simple.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: documentation, tests, ci/cd, configuration, dependencies, scripts

feat: Complete TypeScript refactor of collection index builder
  .github/workflows/build-collection-index.yml
  BUILD_SYSTEM_CHANGES.md
  TYPESCRIPT_VALIDATION_REPORT.md
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_ATTEMPT.md
  docs/session-notes/SESSION_NOTES_2025_08_15_TYPESCRIPT_FIX_SUCCESS.md
  eslint-errors-tracking.md
  eslint-errors.txt
  package-lock.json
  package.json
  public/collection-index.json
  scripts/build-collection-index.ts
  scripts/types/README.md
  scripts/types/build-index.example.ts
  scripts/types/build-index.types.ts
  scripts/verify-build.ts
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
  test/unit/build-collection-index.test.ts
  test/unit/build-index-performance.test.ts
  test/unit/validators/content-validator-all-types.test.ts
  test/unit/validators/content-validator-simple.test.ts
  test/unit/validators/zod-compatibility.test.ts
Labels: documentation, tests, ci/cd, configuration, dependencies, scripts

test: Verify Node.js 22 compatibility
  .github/workflows/core-build-test.yml
  .nvmrc
  package-lock.json
  package.json
Labels: ci/cd, configuration, dependencies

test: Verify Node.js 22 compatibility
  .github/workflows/core-build-test.yml
  .nvmrc
  package-lock.json
  package.json
Labels: ci/cd, configuration, dependencies

chore: upgrade to Node.js 22 LTS
  docs/session-notes/SESSION_NOTES_2025_08_15_AFTERNOON_CI_CD_STRATEGY.md
  package-lock.json
  package.json
Labels: documentation, configuration, dependencies

chore: upgrade to Node.js 22 LTS
  docs/session-notes/SESSION_NOTES_2025_08_15_AFTERNOON_CI_CD_STRATEGY.md
  package-lock.json
  package.json
Labels: documentation, configuration, dependencies

chore: update all CI workflows to use Node.js 22
  .github/workflows/build-collection-index.yml
  .github/workflows/content-security-validation.yml
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-content.yml
Labels: ci/cd

chore: update all CI workflows to use Node.js 22
  .github/workflows/build-collection-index.yml
  .github/workflows/content-security-validation.yml
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-content.yml
Labels: ci/cd

chore: upgrade to Node.js 22 LTS and update CI workflows
  .github/workflows/build-collection-index.yml
  .github/workflows/content-security-validation.yml
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-content.yml
  docs/session-notes/SESSION_NOTES_2025_08_15_AFTERNOON_CI_CD_STRATEGY.md
  package-lock.json
  package.json
Labels: documentation, ci/cd, configuration, dependencies

chore: upgrade to Node.js 22 LTS and update CI workflows
  .github/workflows/build-collection-index.yml
  .github/workflows/content-security-validation.yml
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-content.yml
  docs/session-notes/SESSION_NOTES_2025_08_15_AFTERNOON_CI_CD_STRATEGY.md
  package-lock.json
  package.json
Labels: documentation, ci/cd, configuration, dependencies

🤖 Update collection index [automated]
  public/collection-index.json
Labels: none

🤖 Update collection index [automated]
  public/collection-index.json
Labels: none

chore: configure Dependabot to target develop branch
  .github/dependabot.yml
Labels: none

chore: configure Dependabot to target develop branch
  .github/dependabot.yml
Labels: none

chore: configure Dependabot to target develop branch
  .github/dependabot.yml
Labels: none

chore: configure Dependabot to target develop branch
  .github/dependabot.yml
Labels: none

feat: optimize CI for Ubuntu-only testing
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
Labels: ci/cd

feat: optimize CI for Ubuntu-only testing
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
Labels: ci/cd

fix: remove stale matrix references and add explanatory comments
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Labels: ci/cd

fix: remove stale matrix references and add explanatory comments
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Labels: ci/cd

feat: optimize CI for Ubuntu-only testing
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Labels: ci/cd

feat: optimize CI for Ubuntu-only testing
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Labels: ci/cd

feat: Add Refactoring Specialist agent to collection
  agents/refactoring-specialist.md
Labels: none

feat: Add Refactoring Specialist agent to collection
  agents/refactoring-specialist.md
Labels: none

chore: bump version to 1.0.1
  package.json
Labels: configuration

chore: bump version to 1.0.1
  package.json
Labels: configuration

fix: Extract element type from issue title in workflow
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Extract element type from issue title in workflow
  .github/workflows/process-element-submission.yml
Labels: ci/cd

chore: bump version to 1.0.1 (#154)
  package.json
Labels: configuration

chore: bump version to 1.0.1 (#154)
  package.json
Labels: configuration

fix: Extract element type from issue title in workflow (#155)
  .github/workflows/process-element-submission.yml
Labels: ci/cd

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'
