Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

fix: Update agents with validated portfolio files
  library/agents/agent.md
  library/agents/anthropic-skills-forensic-analyzer.md
  library/agents/blog-copy-editor-agent.md
  library/agents/character-development-agent-suite.md
  library/agents/code-reviewer.md
  library/agents/coder-agent.md
  library/agents/dev-task-manager.md
  library/agents/dollhouse-diagnostic-agent.md
  library/agents/github-dollhouse-integration-tester.md
  library/agents/hook-reaction-agent.md
  library/agents/jailbreak-detection-agent.md
  library/agents/mcp-registry-publisher.md
  library/agents/multi-platform-content-creator.md
  library/agents/planner-agent.md
  library/agents/product-architect.md
  library/agents/programmatic-analysis-agent.md
  library/agents/reddit-submission-agent.md
  library/agents/research-assistant.md
  library/agents/roadmap-planner.md
  library/agents/screenwriting-suite-12-character-development-agent.md
  library/agents/security-workflow-orchestrator.md
  library/agents/session-notes-agent.md
  library/agents/sonar-sweep-agent.md
  library/agents/swarm-master-orchestrator.md
  library/agents/swarm-monitor-loop.md
  library/agents/task-manager.md
  library/agents/technical-doc-writer.md
  library/agents/timeout-agent.md
  library/agents/timestamp-agent.md
  library/agents/voice-assistant.md
  library/agents/voice-configurator.md
  library/agents/worktree-orchestrator.md
Labels: content

fix: Make category field truly optional without enum restrictions
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, scripts

fix: Make category field truly optional without enum restrictions
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, scripts

fix: Make category field truly optional without enum restrictions
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, scripts

fix: Make category field truly optional without enum restrictions
  scripts/pr-validation/integration-tester.mjs
  src/validators/content-validator.ts
Labels: source, scripts

docs: Add security_exceptions metadata to document known false positives
  library/personas/security-analyst.md
  library/personas/solution-keeper.md
Labels: content

docs: Add security_exceptions metadata to document known false positives
  library/personas/security-analyst.md
  library/personas/solution-keeper.md
Labels: content

feat(personas): Add 34 community personas - batch 1
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/marketing-strategist-tech-products.md
  library/personas/marketing-writer-tech-products.md
  library/personas/open-source-business-strategist.md
  library/personas/public-relations-tech-products.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
Labels: content

feat(personas): Add 34 community personas - batch 1
  library/personas/blog-copy-editor.md
  library/personas/code-review-companion.md
  library/personas/codeql-security-analyst.md
  library/personas/connection-intelligence-analyst.md
  library/personas/copy-editor-professional.md
  library/personas/creative-writer.md
  library/personas/document-obfuscation-specialist.md
  library/personas/dollhouse-expert.md
  library/personas/executive-assistant-pro.md
  library/personas/git-flow-master.md
  library/personas/gitflow-detective.md
  library/personas/github-integration-expert.md
  library/personas/hackernews-content-strategist.md
  library/personas/innovation-architect.md
  library/personas/link-validator.md
  library/personas/linkedin-content-strategist.md
  library/personas/linkedin-profile-analyst.md
  library/personas/marketing-strategist-tech-products.md
  library/personas/marketing-writer-tech-products.md
  library/personas/open-source-business-strategist.md
  library/personas/public-relations-tech-products.md
  library/personas/reddit-content-creator.md
  library/personas/reddit-content-strategist.md
  library/personas/reddit-karma-farmer.md
  library/personas/resume-anonymization-specialist.md
  library/personas/screenwriting-suite-01-professional-screenwriter.md
  library/personas/screenwriting-suite-02-tv-development-assistant.md
  library/personas/security-analyst.md
  library/personas/software-licensing-expert.md
  library/personas/solution-keeper.md
  library/personas/technical-bridge-builder.md
  library/personas/technical-writer-ai-architecture.md
  library/personas/travel-planner.md
  library/personas/verification-specialist.md
Labels: content

feat(agents): Add security_exceptions metadata to 8 agent files
  FIX-PORTFOLIO-METADATA-README.md
  FIX-PORTFOLIO-SUMMARY.md
  PORTFOLIO-FIXER-COMPLETE-SUMMARY.txt
  PROMPT_EXPANSION_SUMMARY.md
  QUICK-START-FIX.md
  docs/SESSION_NOTES_2025-10-25-AFTERNOON-COLLECTION-SUBMISSION-PRS.md
  fix-portfolio-metadata.mjs
  library/agents/code-reviewer.md
  library/agents/coder-agent.md
  library/agents/planner-agent.md
  library/agents/programmatic-analysis-agent.md
  library/agents/security-report.json
  library/agents/security-report.md
  library/agents/security-workflow-orchestrator.md
  library/agents/swarm-master-orchestrator.md
  library/agents/task-manager.md
  library/agents/voice-configurator.md
  library/prompts/code-review-prompt.md
  library/prompts/executive-summary-prompt.md
  scan-all-agents.sh
  security-report.json
  security-report.md
Labels: documentation, content

feat(agents): Add security_exceptions metadata to 8 agent files
  FIX-PORTFOLIO-METADATA-README.md
  FIX-PORTFOLIO-SUMMARY.md
  PORTFOLIO-FIXER-COMPLETE-SUMMARY.txt
  PROMPT_EXPANSION_SUMMARY.md
  QUICK-START-FIX.md
  docs/SESSION_NOTES_2025-10-25-AFTERNOON-COLLECTION-SUBMISSION-PRS.md
  fix-portfolio-metadata.mjs
  library/agents/code-reviewer.md
  library/agents/coder-agent.md
  library/agents/planner-agent.md
  library/agents/programmatic-analysis-agent.md
  library/agents/security-report.json
  library/agents/security-report.md
  library/agents/security-workflow-orchestrator.md
  library/agents/swarm-master-orchestrator.md
  library/agents/task-manager.md
  library/agents/voice-configurator.md
  library/prompts/code-review-prompt.md
  library/prompts/executive-summary-prompt.md
  scan-all-agents.sh
  security-report.json
  security-report.md
Labels: documentation, content

chore(skills): Remove test files and rename conversation-audio-summarizer
  library/skills/macos-conversation-audio-summarizer.md
  library/skills/metadata-sample.md
  library/skills/metadata-test.md
  library/skills/new-skill.md
  library/skills/no-version.md
  library/skills/roundtrip-test-skill.md
  library/skills/skill.md
  library/skills/test-collection-upload.md
  library/skills/test-skill.md
Labels: content

chore(skills): Remove test files and rename conversation-audio-summarizer
  library/skills/macos-conversation-audio-summarizer.md
  library/skills/metadata-sample.md
  library/skills/metadata-test.md
  library/skills/new-skill.md
  library/skills/no-version.md
  library/skills/roundtrip-test-skill.md
  library/skills/skill.md
  library/skills/test-collection-upload.md
  library/skills/test-skill.md
Labels: content

chore(templates): Remove test files
  library/templates/roundtrip-test-template.md
  library/templates/template.md
  library/templates/test-hotfix.md
  library/templates/test-template.md
Labels: content

chore(templates): Remove test files
  library/templates/roundtrip-test-template.md
  library/templates/template.md
  library/templates/test-hotfix.md
  library/templates/test-template.md
Labels: content

fix(agents): Fix validation issues in PR #216 - Batch 4 agents
  library/agents/academic-researcher.md
  library/agents/blog-copy-editor-agent.md
  library/agents/mcp-registry-publisher.md
  library/agents/product-architect.md
  library/agents/research-assistant.md
  library/agents/roadmap-planner.md
  library/agents/technical-doc-writer.md
Labels: content

fix(agents): Fix validation issues in PR #216 - Batch 4 agents
  library/agents/academic-researcher.md
  library/agents/blog-copy-editor-agent.md
  library/agents/mcp-registry-publisher.md
  library/agents/product-architect.md
  library/agents/research-assistant.md
  library/agents/roadmap-planner.md
  library/agents/technical-doc-writer.md
Labels: content

fix(agents): Remove duplicate unique_id field in research-assistant.md
  library/agents/research-assistant.md
Labels: content

fix(agents): Remove duplicate unique_id field in research-assistant.md
  library/agents/research-assistant.md
Labels: content

fix: Add validation fixes for merged PRs #214, #215, #216
  library/skills/content-safety-validator.md
  library/skills/docx-creator.md
  library/skills/encoding-pattern-detection.md
  library/skills/linkedin-profile-fetcher.md
  library/skills/programmatic-security-validator.md
  library/skills/security-validation-system-summary.md
  library/skills/skill-converter.md
  library/skills/sonarcloud-hotspot-marker.md
  library/skills/web-content-analyzer.md
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/github-issue-bug-report.md
  library/templates/github-issue-creation.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/report-executive.md
  library/templates/security-findings-report.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
  src/validators/content-validator.ts
Labels: source, content

fix: Add validation fixes for merged PRs #214, #215, #216
  library/skills/content-safety-validator.md
  library/skills/docx-creator.md
  library/skills/encoding-pattern-detection.md
  library/skills/linkedin-profile-fetcher.md
  library/skills/programmatic-security-validator.md
  library/skills/security-validation-system-summary.md
  library/skills/skill-converter.md
  library/skills/sonarcloud-hotspot-marker.md
  library/skills/web-content-analyzer.md
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/github-issue-bug-report.md
  library/templates/github-issue-creation.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/report-executive.md
  library/templates/security-findings-report.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
  src/validators/content-validator.ts
Labels: source, content

test: Fix integration test for optional category field
  test/integration/content-lifecycle.test.ts
Labels: tests

test: Fix integration test for optional category field
  test/integration/content-lifecycle.test.ts
Labels: tests

chore: Add PR validation report files to .gitignore
  .gitignore
Labels: configuration

chore: Add PR validation report files to .gitignore
  .gitignore
Labels: configuration

fix: Fix PR validation workflows for community contributions
  library/agents/agent.md
  library/agents/character-development-agent-suite.md
  library/agents/code-reviewer.md
  library/prompts/code-review-prompt.md
  library/skills/code-review.md
  library/skills/pr-update-practices.md
  library/skills/skill-converter.md
  library/skills/test-writer.md
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
Labels: content, scripts

fix: Fix PR validation workflows for community contributions
  library/agents/agent.md
  library/agents/character-development-agent-suite.md
  library/agents/code-reviewer.md
  library/prompts/code-review-prompt.md
  library/skills/code-review.md
  library/skills/pr-update-practices.md
  library/skills/skill-converter.md
  library/skills/test-writer.md
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
Labels: content, scripts

fix: Fix remaining invalid category values
  library/agents/research-assistant.md
  library/agents/task-manager.md
  library/skills/research.md
Labels: content

fix: Fix remaining invalid category values
  library/agents/research-assistant.md
  library/agents/task-manager.md
  library/skills/research.md
Labels: content

Security: remove pull_request_target from pr-validation.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd

Security: remove pull_request_target from pr-validation.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd

Security: remove pull_request_target from pr-validation.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd

Security: remove pull_request_target from pr-validation.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Remove explicit SHA ref from checkout to satisfy SonarCloud SAST
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Remove explicit SHA ref from checkout to satisfy SonarCloud SAST
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Move permissions to per-job level to fix SonarCloud S6598
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Move permissions to per-job level to fix SonarCloud S6598
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Move permissions to per-job level to fix SonarCloud S6598
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): Remove explicit SHA ref from checkout to satisfy SonarCloud SAST
  .github/workflows/pr-validation.yml
Labels: ci/cd

Security: remove pull_request_target from pr-validation.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd
