Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

fix: Extract element type from issue title in workflow (#155)
  .github/workflows/process-element-submission.yml
Labels: ci/cd

chore: Merge develop to main for v1.0.1 release (#153)
  .github/dependabot.yml
  .github/workflows/build-collection-index.yml
  .github/workflows/content-security-validation.yml
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/process-element-submission.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-content.yml
  agents/refactoring-specialist.md
  docs/session-notes/SESSION_NOTES_2025_08_15_AFTERNOON_CI_CD_STRATEGY.md
  package-lock.json
  package.json
  public/collection-index.json
Labels: documentation, ci/cd, configuration, dependencies

chore: Merge develop to main for v1.0.1 release (#153)
  .github/dependabot.yml
  .github/workflows/build-collection-index.yml
  .github/workflows/content-security-validation.yml
  .github/workflows/core-build-test.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/performance.yml
  .github/workflows/process-element-submission.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-content.yml
  agents/refactoring-specialist.md
  docs/session-notes/SESSION_NOTES_2025_08_15_AFTERNOON_CI_CD_STRATEGY.md
  package-lock.json
  package.json
  public/collection-index.json
Labels: documentation, ci/cd, configuration, dependencies

Add persona: three-laws-of-robotics
  library/personas/asimov-assistant_20250825-091451_anon-calm-fox-fm7k.md
Labels: content

Add persona: three-laws-of-robotics
  library/personas/asimov-assistant_20250825-091451_anon-calm-fox-fm7k.md
Labels: content

fix: Use issue submitter as PR assignee instead of repository owner
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Assign PRs to maintainer instead of submitter
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Use issue submitter as PR assignee instead of repository owner (#158)
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Use issue submitter as PR assignee instead of repository owner (#158)
  .github/workflows/process-element-submission.yml
Labels: ci/cd

chore: Remove unnecessary workflows and NPM publishing
  .github/workflows/build-collection-index.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/release.yml
  .github/workflows/test-claude-bot.yml
Labels: ci/cd

chore: Remove unnecessary workflows and NPM publishing (#159)
  .github/workflows/build-collection-index.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/release.yml
  .github/workflows/test-claude-bot.yml
Labels: ci/cd

chore: Remove unnecessary workflows and NPM publishing (#159)
  .github/workflows/build-collection-index.yml
  .github/workflows/extended-compatibility.yml
  .github/workflows/release.yml
  .github/workflows/test-claude-bot.yml
Labels: ci/cd

fix: Remove accidentally included build-html-index.ts
  scripts/build-html-index.ts
Labels: scripts

fix: Remove accidentally included build-html-index.ts
  scripts/build-html-index.ts
Labels: scripts

feat: Add GitHub Pages deployment for collection index
  .github/workflows/build-collection-index.yml
  scripts/build-html-index.js
Labels: ci/cd, scripts

feat: Add GitHub Pages deployment for collection index
  .github/workflows/build-collection-index.yml
  scripts/build-html-index.js
Labels: ci/cd, scripts

fix: Address security vulnerabilities and code quality issues
  .github/workflows/build-collection-index.yml
  scripts/build-html-index.js
Labels: ci/cd, scripts

fix: Address security vulnerabilities and code quality issues
  .github/workflows/build-collection-index.yml
  scripts/build-html-index.js
Labels: ci/cd, scripts

chore: bump version to 1.0.2 for GitHub Pages deployment feature
  package-lock.json
  package.json
Labels: configuration, dependencies

chore: bump version to 1.0.2 for GitHub Pages deployment feature
  package-lock.json
  package.json
Labels: configuration, dependencies

deploy: 069a8f27681cacd7a8f7a8933564717dcc5a8766
  .nojekyll
  README.md
  collection-index.json
  index.html
Labels: documentation

feat: Add professional badges and comprehensive documentation
  README.md
  docs/QUICK_START.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/VALIDATION.md
  docs/examples/README.md
  docs/examples/creating-elements.md
Labels: documentation

feat: Add professional badges and comprehensive documentation
  README.md
  docs/QUICK_START.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/VALIDATION.md
  docs/examples/README.md
  docs/examples/creating-elements.md
Labels: documentation

chore: bump version to 1.0.3
  README.md
  package-lock.json
  package.json
Labels: documentation, configuration, dependencies

chore: bump version to 1.0.3
  README.md
  package-lock.json
  package.json
Labels: documentation, configuration, dependencies

fix: Update ROADMAP.md version to v1.0.3
  docs/ROADMAP.md
Labels: documentation

fix: Update ROADMAP.md version to v1.0.3
  docs/ROADMAP.md
Labels: documentation

Add persona: screenwriting-suite-02-tv-development-assistant
  library/personas/screenwriting-suite-02-tv-development-assistant_20250829-105220_anon-bold-bear-5hlq.md
Labels: content

Add persona: screenwriting-suite-02-tv-development-assistant
  library/personas/screenwriting-suite-02-tv-development-assistant_20250829-105220_anon-bold-bear-5hlq.md
Labels: content

fix: Improve error handling and auto-generate unique_id in workflow
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Improve error handling and auto-generate unique_id in workflow
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Improve error handling and auto-generate unique_id in workflow
  .github/workflows/process-element-submission.yml
Labels: ci/cd

fix: Align suggested unique_id format with auto-generation
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_28_DOCUMENTATION_RELEASE.md
  preview.html/index.html
Labels: documentation, ci/cd, configuration

fix: Improve error handling and auto-generate unique_id in workflow (#183)
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_28_DOCUMENTATION_RELEASE.md
  preview.html/index.html
Labels: documentation, ci/cd, configuration

fix: Improve error handling and auto-generate unique_id in workflow (#183)
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_28_DOCUMENTATION_RELEASE.md
  preview.html/index.html
Labels: documentation, ci/cd, configuration

fix: Address Claude review recommendations for clean code
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_29_WORKFLOW_FIX.md
Labels: documentation, ci/cd, configuration

fix: Address Claude review recommendations for clean code
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_29_WORKFLOW_FIX.md
Labels: documentation, ci/cd, configuration

Release v1.0.4 - Fix element submission workflow (#184)
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_28_DOCUMENTATION_RELEASE.md
  docs/session-notes/SESSION_NOTES_2025_08_29_WORKFLOW_FIX.md
  preview.html/index.html
Labels: documentation, ci/cd, configuration

Release v1.0.4 - Fix element submission workflow (#184)
  .github/workflows/process-element-submission.yml
  .gitignore
  docs/session-notes/SESSION_NOTES_2025_08_28_DOCUMENTATION_RELEASE.md
  docs/session-notes/SESSION_NOTES_2025_08_29_WORKFLOW_FIX.md
  preview.html/index.html
Labels: documentation, ci/cd, configuration

fix: Element submissions now go directly to main branch
  .github/workflows/process-element-submission.yml
Labels: ci/cd

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'
