Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

fix: Address all validation failures from PR #73 review
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/prompts/creative/story-starter.md
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
  library/tools/productivity/task-prioritizer.md
  src/validators/content-validator.ts
Labels: source, content

fix: Make validation schemas flexible and fix overly broad security pattern
  library/memories/educational/learning-progress.md
  library/memories/professional/project-context.md
  library/templates/professional/code-documentation.md
  src/validators/content-validator.ts
  src/validators/security-patterns.ts
Labels: source, content, security

fix: Add missing category fields to 8 files
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

revert: Remove expanded categories and stick with original 5
  src/validators/content-validator.ts
Labels: source

fix: Make validation schemas flexible and fix overly broad security pattern
  library/memories/educational/learning-progress.md
  library/memories/professional/project-context.md
  library/templates/professional/code-documentation.md
  src/validators/content-validator.ts
  src/validators/security-patterns.ts
Labels: source, content, security

docs: Add clarifying comments to training_data_extraction pattern
  src/validators/security-patterns.ts
Labels: source, security

fix: Address all validation failures from PR #73 review
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/prompts/creative/story-starter.md
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
  library/tools/productivity/task-prioritizer.md
  src/validators/content-validator.ts
Labels: source, content

fix: Update unique_id format to match required pattern
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/prompts/creative/story-starter.md
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
  library/tools/productivity/task-prioritizer.md
Labels: content

fix: Update unique_id format to match required pattern
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/prompts/creative/story-starter.md
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
  library/tools/productivity/task-prioritizer.md
Labels: content

fix: Update data-analysis description to avoid security false positive
  library/skills/professional/data-analysis.md
Labels: content

fix: Update data-analysis description to avoid security false positive
  library/skills/professional/data-analysis.md
Labels: content

fix: Simplify training_data_extraction pattern for performance
  src/validators/security-patterns.ts
Labels: source, security

fix: Simplify training_data_extraction pattern for performance
  src/validators/security-patterns.ts
Labels: source, security

fix: Update training_data_extraction pattern to match test expectations
  src/validators/security-patterns.ts
Labels: source, security

fix: Update training_data_extraction pattern to match test expectations
  src/validators/security-patterns.ts
Labels: source, security

fix: Split training_data_extraction into multiple simpler patterns
  src/validators/security-patterns.ts
Labels: source, security

fix: Split training_data_extraction into multiple simpler patterns
  src/validators/security-patterns.ts
Labels: source, security

feat: Add 5 default personas for v1.3.0
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

feat: Add 5 default personas for v1.3.0
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

feat: Add 7 default skills for v1.3.0
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
Labels: content

feat: Add 7 default skills for v1.3.0
  library/skills/coding/code-review.md
  library/skills/coding/debugging-assistant.md
  library/skills/creative/creative-writing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
Labels: content

feat: Add 8 default templates for v1.3.0
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
Labels: content

feat: Add 8 default templates for v1.3.0
  library/templates/business/email-professional.md
  library/templates/business/meeting-notes.md
  library/templates/business/project-brief.md
  library/templates/business/project-proposal.md
  library/templates/business/report-executive.md
  library/templates/professional/code-documentation.md
  library/templates/professional/penetration-test-report.md
  library/templates/professional/security-vulnerability-report.md
  library/templates/professional/threat-assessment-report.md
Labels: content

feat: Add agents and memories for v1.3.0
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
Labels: content

feat: Add agents and memories for v1.3.0
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research/academic-researcher.md
  library/agents/research/research-assistant.md
  library/memories/educational/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
Labels: content

feat: Add 4 default ensembles for v1.3.0
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
Labels: content

feat: Add 4 default ensembles for v1.3.0
  library/ensembles/creative/creative-studio.md
  library/ensembles/productivity/complete-productivity-suite.md
  library/ensembles/professional/business-advisor.md
  library/ensembles/professional/development-team.md
  library/ensembles/professional/full-stack-developer.md
  library/ensembles/professional/security-analysis-team.md
Labels: content

fix: Address all critical issues from Claude review
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

fix: Address all critical issues from Claude review
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

feat: Add 5 default personas for v1.3.0 (Part 1/5) (#79)
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

feat: Add 5 default personas for v1.3.0 (Part 1/5) (#79)
  library/personas/creative/creative-writer.md
  library/personas/educational/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
Labels: content

fix: Update 'Dataset' to 'Data' to avoid false positive security detection
  library/skills/professional/data-analysis.md
Labels: content

fix: Update 'Dataset' to 'Data' to avoid false positive security detection
  library/skills/professional/data-analysis.md
Labels: content

fix: Improve training_data_extraction pattern to avoid false positives
  library/skills/professional/data-analysis.md
  src/validators/security-patterns.ts
Labels: source, content, security

fix: Improve training_data_extraction pattern to avoid false positives
  library/skills/professional/data-analysis.md
  src/validators/security-patterns.ts
Labels: source, content, security

fix: Improve training_data_extraction patterns and fix typos
  library/skills/coding/debugging-assistant.md
  library/skills/professional/data-analysis.md
  src/validators/security-patterns.ts
Labels: source, content, security

fix: Improve training_data_extraction patterns and fix typos
  library/skills/coding/debugging-assistant.md
  library/skills/professional/data-analysis.md
  src/validators/security-patterns.ts
Labels: source, content, security

feat: Add automated PR approval capability to Claude reviews
  .github/workflows/claude-review.yml
Labels: ci/cd

feat: Add automated PR approval capability to Claude reviews
  .github/workflows/claude-review.yml
Labels: ci/cd

feat: Add automated PR approval capability to Claude reviews
  .github/workflows/claude-review.yml
Labels: ci/cd

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'
