Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'

fix: Remove duplicate 'core' declaration in Claude review workflow (#96)
  .github/workflows/claude-review.yml
Labels: ci/cd

fix: Improve workflow path filtering to prevent stuck pending checks
  .github/workflows/content-security-validation.yml
  .github/workflows/validate-content.yml
Labels: ci/cd

fix: Improve workflow path filtering to prevent stuck pending checks
  .github/workflows/content-security-validation.yml
  .github/workflows/validate-content.yml
Labels: ci/cd

fix: Improve workflow path filtering to prevent stuck pending checks
  .github/workflows/content-security-validation.yml
  .github/workflows/validate-content.yml
Labels: ci/cd

fix: Improve workflow path filtering to prevent stuck pending checks
  .github/workflows/content-security-validation.yml
  .github/workflows/validate-content.yml
Labels: ci/cd

feat: Apply flat directory structure to templates
  library/templates/code-documentation.md
  library/templates/creative/.gitkeep
  library/templates/educational/.gitkeep
  library/templates/email-professional.md
  library/templates/gaming/.gitkeep
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/personal/.gitkeep
  library/templates/professional/.gitkeep
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

feat: Apply flat directory structure to templates
  library/templates/code-documentation.md
  library/templates/creative/.gitkeep
  library/templates/educational/.gitkeep
  library/templates/email-professional.md
  library/templates/gaming/.gitkeep
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/personal/.gitkeep
  library/templates/professional/.gitkeep
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: Standardize DollhouseMCP branding and metadata consistency
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: Standardize DollhouseMCP branding and metadata consistency
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: change DollhouseMCP to lowercase in template metadata
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: change DollhouseMCP to lowercase in template metadata
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: change 'created' to 'created_date' in all template metadata
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: change 'created' to 'created_date' in all template metadata
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

feat: Add 8 default templates for v1.3.0 (Part 3/5)
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

feat: Add 8 default templates for v1.3.0 (Part 3/5)
  library/templates/code-documentation.md
  library/templates/email-professional.md
  library/templates/meeting-notes.md
  library/templates/penetration-test-report.md
  library/templates/project-brief.md
  library/templates/project-proposal.md
  library/templates/report-executive.md
  library/templates/security-vulnerability-report.md
  library/templates/threat-assessment-report.md
Labels: content

fix: Apply flat structure and metadata fixes to agents/memories
  docs/development/NEXT_STEPS_PR82.md
  docs/session-notes/2025-07-24-pr91-skills-security-patterns.md
  library/agents/academic-researcher.md
  library/agents/code-reviewer.md
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/task-manager.md
  library/memories/conversation-history.md
  library/memories/educational/learning-progress.md
  library/memories/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/memories/project-context.md
Labels: documentation, content

fix: Apply flat structure and metadata fixes to agents/memories
  docs/development/NEXT_STEPS_PR82.md
  docs/session-notes/2025-07-24-pr91-skills-security-patterns.md
  library/agents/academic-researcher.md
  library/agents/code-reviewer.md
  library/agents/personal/task-manager.md
  library/agents/professional/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/task-manager.md
  library/memories/conversation-history.md
  library/memories/educational/learning-progress.md
  library/memories/learning-progress.md
  library/memories/personal/conversation-history.md
  library/memories/professional/project-context.md
  library/memories/project-context.md
Labels: documentation, content

fix: Add memory type support and fix agent capabilities
  collection.json
  library/agents/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/task-manager.md
  src/types/index.ts
Labels: source, content

fix: Add memory type support and fix agent capabilities
  collection.json
  library/agents/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/task-manager.md
  src/types/index.ts
Labels: source, content

feat: Add agents and memories for v1.3.0 (Part 4/5)
  collection.json
  docs/development/NEXT_STEPS_PR82.md
  docs/session-notes/2025-07-24-pr91-skills-security-patterns.md
  library/agents/academic-researcher.md
  library/agents/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/task-manager.md
  library/memories/conversation-history.md
  library/memories/learning-progress.md
  library/memories/project-context.md
  src/types/index.ts
Labels: documentation, source, content

feat: Add agents and memories for v1.3.0 (Part 4/5)
  collection.json
  docs/development/NEXT_STEPS_PR82.md
  docs/session-notes/2025-07-24-pr91-skills-security-patterns.md
  library/agents/academic-researcher.md
  library/agents/code-reviewer.md
  library/agents/research-assistant.md
  library/agents/task-manager.md
  library/memories/conversation-history.md
  library/memories/learning-progress.md
  library/memories/project-context.md
  src/types/index.ts
Labels: documentation, source, content

feat: Complete category removal - move all remaining files to flat structure
  library/ensembles/creative/creative-studio.md
  library/personas/business-consultant.md
  library/personas/debug-detective.md
  library/personas/educational/eli5-explainer.md
  library/personas/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/personas/security-analyst.md
  library/personas/technical-analyst.md
  library/skills/creative-writing.md
  library/skills/creative/creative-writing.md
  library/skills/data-analysis.md
  library/skills/penetration-testing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/skills/research.md
  library/skills/threat-modeling.md
  library/skills/translation.md
Labels: content

feat: Complete category removal - move all remaining files to flat structure
  library/ensembles/creative/creative-studio.md
  library/personas/business-consultant.md
  library/personas/debug-detective.md
  library/personas/educational/eli5-explainer.md
  library/personas/eli5-explainer.md
  library/personas/professional/business-consultant.md
  library/personas/professional/debug-detective.md
  library/personas/professional/security-analyst.md
  library/personas/professional/technical-analyst.md
  library/personas/security-analyst.md
  library/personas/technical-analyst.md
  library/skills/creative-writing.md
  library/skills/creative/creative-writing.md
  library/skills/data-analysis.md
  library/skills/penetration-testing.md
  library/skills/professional/data-analysis.md
  library/skills/professional/penetration-testing.md
  library/skills/professional/research.md
  library/skills/professional/threat-modeling.md
  library/skills/professional/translation.md
  library/skills/research.md
  library/skills/threat-modeling.md
  library/skills/translation.md
Labels: content

test: Add roundtrip test skill for collection workflow validation
  library/skills/roundtrip-test-skill.md
Labels: content

test: Add roundtrip test skill for collection workflow validation
  library/skills/roundtrip-test-skill.md
Labels: content

fix: Remove command substitution from roundtrip test skill
  library/skills/roundtrip-test-skill.md
Labels: content

fix: Remove command substitution from roundtrip test skill
  library/skills/roundtrip-test-skill.md
Labels: content

feat: Add GitHub Actions workflows and validation scripts for roundtrip workflow
  .github/ISSUE_TEMPLATE/element-submission.yml
  .github/workflows/pr-validation.yml
  .github/workflows/process-element-submission.yml
  docs/workflows/ELEMENT_SUBMISSION_WORKFLOW.md
  docs/workflows/README.md
  scripts/pr-validation/README.md
  scripts/pr-validation/REPORT_GENERATOR_SUMMARY.md
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/report-generator.mjs
  scripts/pr-validation/security-scanner.mjs
  scripts/pr-validation/templates/auto-approve.md
  scripts/pr-validation/templates/checklist.md
  scripts/pr-validation/templates/review-report.md
  scripts/pr-validation/test-report-generator.mjs
  scripts/pr-validation/test-reports/failing-auto-approval.md
  scripts/pr-validation/test-reports/failing-checklist.md
  scripts/pr-validation/test-reports/failing-report.json
  scripts/pr-validation/test-reports/failing-review-report.md
  scripts/pr-validation/test-reports/passing-auto-approval.md
  scripts/pr-validation/test-reports/passing-checklist.md
  scripts/pr-validation/test-reports/passing-report.json
  scripts/pr-validation/test-reports/passing-review-report.md
  scripts/pr-validation/test-validation.mjs
  scripts/pr-validation/validate-and-report.mjs
  scripts/test-workflow.mjs
  scripts/validate-submission.mjs
  test-workflow-report.md
Labels: documentation, ci/cd, scripts

feat: Add GitHub Actions workflows and validation scripts for roundtrip workflow
  .github/ISSUE_TEMPLATE/element-submission.yml
  .github/workflows/pr-validation.yml
  .github/workflows/process-element-submission.yml
  docs/workflows/ELEMENT_SUBMISSION_WORKFLOW.md
  docs/workflows/README.md
  scripts/pr-validation/README.md
  scripts/pr-validation/REPORT_GENERATOR_SUMMARY.md
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/report-generator.mjs
  scripts/pr-validation/security-scanner.mjs
  scripts/pr-validation/templates/auto-approve.md
  scripts/pr-validation/templates/checklist.md
  scripts/pr-validation/templates/review-report.md
  scripts/pr-validation/test-report-generator.mjs
  scripts/pr-validation/test-reports/failing-auto-approval.md
  scripts/pr-validation/test-reports/failing-checklist.md
  scripts/pr-validation/test-reports/failing-report.json
  scripts/pr-validation/test-reports/failing-review-report.md
  scripts/pr-validation/test-reports/passing-auto-approval.md
  scripts/pr-validation/test-reports/passing-checklist.md
  scripts/pr-validation/test-reports/passing-report.json
  scripts/pr-validation/test-reports/passing-review-report.md
  scripts/pr-validation/test-validation.mjs
  scripts/pr-validation/validate-and-report.mjs
  scripts/test-workflow.mjs
  scripts/validate-submission.mjs
  test-workflow-report.md
Labels: documentation, ci/cd, scripts

fix: resolve 40 ESLint errors across PR validation scripts
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/report-generator.mjs
  scripts/pr-validation/security-scanner.mjs
  scripts/pr-validation/validate-and-report.mjs
  scripts/validate-submission.mjs
Labels: scripts

fix: resolve 40 ESLint errors across PR validation scripts
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/report-generator.mjs
  scripts/pr-validation/security-scanner.mjs
  scripts/pr-validation/validate-and-report.mjs
  scripts/validate-submission.mjs
Labels: scripts

docs: Add PR best practices guide from mcp-server
  docs/PR_BEST_PRACTICES.md
Labels: documentation

docs: Add PR best practices guide from mcp-server
  docs/PR_BEST_PRACTICES.md
Labels: documentation

fix: Address remaining CodeQL and review feedback
  .github/workflows/process-element-submission.yml
  scripts/pr-validation/integration-tester.mjs
Labels: ci/cd, scripts

fix: Address remaining CodeQL and review feedback
  .github/workflows/process-element-submission.yml
  scripts/pr-validation/integration-tester.mjs
Labels: ci/cd, scripts

feat: Add GitHub Actions workflows for roundtrip element submission
  .github/ISSUE_TEMPLATE/element-submission.yml
  .github/workflows/pr-validation.yml
  .github/workflows/process-element-submission.yml
  docs/PR_BEST_PRACTICES.md
  docs/workflows/ELEMENT_SUBMISSION_WORKFLOW.md
  docs/workflows/README.md
  scripts/pr-validation/README.md
  scripts/pr-validation/REPORT_GENERATOR_SUMMARY.md
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/report-generator.mjs
  scripts/pr-validation/security-scanner.mjs
  scripts/pr-validation/templates/auto-approve.md
  scripts/pr-validation/templates/checklist.md
  scripts/pr-validation/templates/review-report.md
  scripts/pr-validation/test-report-generator.mjs
  scripts/pr-validation/test-reports/failing-auto-approval.md
  scripts/pr-validation/test-reports/failing-checklist.md
  scripts/pr-validation/test-reports/failing-report.json
  scripts/pr-validation/test-reports/failing-review-report.md
  scripts/pr-validation/test-reports/passing-auto-approval.md
  scripts/pr-validation/test-reports/passing-checklist.md
  scripts/pr-validation/test-reports/passing-report.json
  scripts/pr-validation/test-reports/passing-review-report.md
  scripts/pr-validation/test-validation.mjs
  scripts/pr-validation/validate-and-report.mjs
  scripts/test-workflow.mjs
  scripts/validate-submission.mjs
  test-workflow-report.md
Labels: documentation, ci/cd, scripts

feat: Add GitHub Actions workflows for roundtrip element submission
  .github/ISSUE_TEMPLATE/element-submission.yml
  .github/workflows/pr-validation.yml
  .github/workflows/process-element-submission.yml
  docs/PR_BEST_PRACTICES.md
  docs/workflows/ELEMENT_SUBMISSION_WORKFLOW.md
  docs/workflows/README.md
  scripts/pr-validation/README.md
  scripts/pr-validation/REPORT_GENERATOR_SUMMARY.md
  scripts/pr-validation/integration-tester.mjs
  scripts/pr-validation/quality-analyzer.mjs
  scripts/pr-validation/report-generator.mjs
  scripts/pr-validation/security-scanner.mjs
  scripts/pr-validation/templates/auto-approve.md
  scripts/pr-validation/templates/checklist.md
  scripts/pr-validation/templates/review-report.md
  scripts/pr-validation/test-report-generator.mjs
  scripts/pr-validation/test-reports/failing-auto-approval.md
  scripts/pr-validation/test-reports/failing-checklist.md
  scripts/pr-validation/test-reports/failing-report.json
  scripts/pr-validation/test-reports/failing-review-report.md
  scripts/pr-validation/test-reports/passing-auto-approval.md
  scripts/pr-validation/test-reports/passing-checklist.md
  scripts/pr-validation/test-reports/passing-report.json
  scripts/pr-validation/test-reports/passing-review-report.md
  scripts/pr-validation/test-validation.mjs
  scripts/pr-validation/validate-and-report.mjs
  scripts/test-workflow.mjs
  scripts/validate-submission.mjs
  test-workflow-report.md
Labels: documentation, ci/cd, scripts

test: Add roundtrip test validator skill for workflow testing
  library/skills/roundtrip-test-validator.md
Labels: content

test: Add roundtrip test validator skill for workflow testing
  library/skills/roundtrip-test-validator.md
Labels: content

Add safe roundtrip test skill and comprehensive guide
  docs/testing/COMPLETE_SAFE_ROUNDTRIP_TEST.md
  library/skills/safe-roundtrip-tester.md
Labels: documentation, content
