Repository DollhouseMCP/collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci/cd, content, security, configuration, dependencies, scripts, cli

docs: add repository secrets setup guide and automation infrastructure
  .github/workflows/claude-setup-check.yml
  docs/SECRETS_SETUP.md
Labels: documentation, ci/cd

docs: add repository secrets setup guide and automation infrastructure
  .github/workflows/claude-setup-check.yml
  docs/SECRETS_SETUP.md
Labels: documentation, ci/cd

feat: add comprehensive integration test suite
  CLAUDE.md
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/placeholder.test.ts
  test/integration/security-workflow.test.ts
Labels: documentation, source, tests, cli

feat: add comprehensive integration test suite
  CLAUDE.md
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/placeholder.test.ts
  test/integration/security-workflow.test.ts
Labels: documentation, source, tests, cli

docs: update context notes for next session
  CLAUDE.md
Labels: documentation

docs: update context notes for next session
  CLAUDE.md
Labels: documentation

docs: add session plan and update current state documentation
  docs/CURRENT_STATE.md
  docs/session-plans/2025-07-16-001-integration-testing.md
Labels: documentation

docs: add session plan and update current state documentation
  docs/CURRENT_STATE.md
  docs/session-plans/2025-07-16-001-integration-testing.md
Labels: documentation

fix: adjust integration test expectations to match actual validator behavior
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
Labels: tests

fix: adjust integration test expectations to match actual validator behavior
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
Labels: tests

feat: implement Claude's review feedback for integration tests
  CLAUDE.md
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
Labels: documentation, tests

feat: implement Claude's review feedback for integration tests
  CLAUDE.md
  test/integration/cli-validation.test.ts
  test/integration/content-lifecycle.test.ts
  test/integration/security-workflow.test.ts
Labels: documentation, tests

fix: resolve linting errors in integration tests
  test/integration/cli-validation.test.ts
  test/integration/security-workflow.test.ts
Labels: tests

fix: resolve linting errors in integration tests
  test/integration/cli-validation.test.ts
  test/integration/security-workflow.test.ts
Labels: tests

fix: replace regex escape sequences with spaces in Python code example
  test/integration/security-workflow.test.ts
Labels: tests

fix: replace regex escape sequences with spaces in Python code example
  test/integration/security-workflow.test.ts
Labels: tests

fix: add shell option for Windows CLI test compatibility
  CLAUDE.md
  docs/CURRENT_STATE.md
  docs/WINDOWS_CLI_FIX_PLAN.md
  docs/session-plans/2025-07-16-002-integration-tests-completion.md
  docs/session-plans/SESSION_SUMMARY.md
  test/integration/cli-validation.test.ts
Labels: documentation, tests

fix: add shell option for Windows CLI test compatibility
  CLAUDE.md
  docs/CURRENT_STATE.md
  docs/WINDOWS_CLI_FIX_PLAN.md
  docs/session-plans/2025-07-16-002-integration-tests-completion.md
  docs/session-plans/SESSION_SUMMARY.md
  test/integration/cli-validation.test.ts
Labels: documentation, tests

docs: add clarifying comment for Windows shell fix
  test/integration/cli-validation.test.ts
Labels: tests

docs: add clarifying comment for Windows shell fix
  test/integration/cli-validation.test.ts
Labels: tests

fix: use cross-spawn for Windows CLI test compatibility
  test/integration/cli-validation.test.ts
Labels: tests

fix: use cross-spawn for Windows CLI test compatibility
  test/integration/cli-validation.test.ts
Labels: tests

fix: use default export for cross-spawn import
  test/integration/cli-validation.test.ts
Labels: tests

fix: use default export for cross-spawn import
  test/integration/cli-validation.test.ts
Labels: tests

fix: use process.execPath for Windows compatibility
  test/integration/cli-validation.test.ts
Labels: tests

fix: use process.execPath for Windows compatibility
  test/integration/cli-validation.test.ts
Labels: tests

debug: add debugging output for Windows CI failures
  test/integration/cli-validation.test.ts
Labels: tests

debug: add debugging output for Windows CI failures
  test/integration/cli-validation.test.ts
Labels: tests

fix: normalize paths to forward slashes for Windows
  test/integration/cli-validation.test.ts
Labels: tests

fix: normalize paths to forward slashes for Windows
  test/integration/cli-validation.test.ts
Labels: tests

fix: use windowsVerbatimArguments for Windows CLI tests
  test/integration/cli-validation.test.ts
Labels: tests

fix: use windowsVerbatimArguments for Windows CLI tests
  test/integration/cli-validation.test.ts
Labels: tests

fix: remove unused imports
  test/integration/cli-validation.test.ts
Labels: tests

fix: remove unused imports
  test/integration/cli-validation.test.ts
Labels: tests

fix: apply DollhouseMCP server's cross-platform patterns
  test/integration/cli-validation.test.ts
Labels: tests

fix: apply DollhouseMCP server's cross-platform patterns
  test/integration/cli-validation.test.ts
Labels: tests

debug: add logging to diagnose Windows issue
  test/integration/cli-validation.test.ts
Labels: tests

debug: add logging to diagnose Windows issue
  test/integration/cli-validation.test.ts
Labels: tests

WIP: refactor CLI tests to use direct import instead of spawn
  docs/session-plans/2025-07-16-cli-windows-fix-status.md
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
Labels: documentation, source, tests, cli

WIP: refactor CLI tests to use direct import instead of spawn
  docs/session-plans/2025-07-16-cli-windows-fix-status.md
  src/cli/validate-content.ts
  test/integration/cli-validation.test.ts
Labels: documentation, source, tests, cli

.github/labeler.yml:

# Configuration for actions/labeler

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'
      - 'LICENSE*'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.*.config.*'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Content changes
content:
  - changed-files:
    - any-glob-to-any-file:
      - 'library/**'
      - 'showcase/**'
      - 'catalog/**'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/validators/security-patterns.ts'
      - 'scripts/security-check.js'
      - '.github/codeql/**'
      - '**/security/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
      - 'eslint.config.js'
      - '.gitignore'
      - '.npmignore'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**'

# CLI tools
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/cli/**'
